flows.json
[{"id":"fba125c9.c7b7a8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"49bdb348.502aac","type":"group","z":"fba125c9.c7b7a8","name":"Tab Process","style":{"label":true},"nodes":["8188547c.5691d8","f56cb9c5.30eaf8","63286668.ccb6a8","37783fc2.6c3cb","971e7fa2.ba78b","acce86f6.5a7aa8","cc53b880.15f6b8","dadcc4c7.90c888","eb0ec43f.278538","f30cc0b4.232fb"],"x":1414,"y":33,"w":1518,"h":1194},{"id":"69024864.870ec8","type":"group","z":"fba125c9.c7b7a8","name":"Tab Realtime Trend","style":{"label":true},"nodes":["6fa3645c.8be62c","8245cd58.8b53","fd8ed304.8a13e","bffbcb73.77e1e8","b85bb194.2fc3","6964874b.4eafb8","7eacf09d.b662b","d5f784d9.c27798","12db5dd9.66d542","d3b61a29.618b58","cad08017.b07e4","26bbf2fd.f8397e","70986cf0.166294","7d5976d1.0a7818","31100972.fab8c6","69e50b40.33ab54","788b2841.8381a8","36700fe8.0a64e","8f17ccad.a086b","4f68f5ec.cf6b6c","38c439f2.3dfcf6","cb194ca4.d7552","86d8c6f0.bb3208","1edc450e.f2d73b","120b6515.0d4a6b","531364c0.35722c","e9b6a951.735a18","f058fcdf.ffbde","9596d4aa.1fbc78","38ce31cd.bbe2ae","75c828e1.aadfa8","735ec0e.8e4264","f885466f.efa2a8"],"x":2494,"y":1299,"w":632,"h":1122},{"id":"752c8b6a.bb1a34","type":"group","z":"fba125c9.c7b7a8","name":"Set range Historical Trend","style":{"label":true},"nodes":["970ef9d.4520208","3d78d396.7ed65c","937e572.25e2ba8","6fe6698e.fad728","88123510.ee5078","4c473c26.78bdb4","5d57a2c3.b7537c","8a6dd747.cddb38","e17b0f79.2a696","bb17110a.95252","be21a312.79366","ec9fb92b.543ac8","87f83094.5f151","3c0e29ee.6a3d16","cb314931.721708"],"x":74,"y":399,"w":762,"h":402},{"id":"11ba48b.1e3a8b7","type":"group","z":"fba125c9.c7b7a8","name":"Tab Historical Trend","style":{"label":true},"nodes":["169b2897.4ac227","380f9395.5a787c","bc646732.801f88","8c713266.c2379","b22baf9e.55bdc","7e1f119a.b6938","11790ab3.07f3a5","ed728504.3be0a8","986a1cc9.2b706","b37e7d8d.1a3f5","ac1b044.a0c78f8","52c679d7.a10b08","75d3265c.33b488","9056056e.f63cd8","6c13710a.e98f2","217075e.3d39f8a","eeb54d01.73635","85d9b8.72f01648","d612f851.6db5b8","4d202d38.21af24","4071a5b7.46090c","b0559249.17184","49a73f14.4372c","fbe831b4.fb8df","bbd6c813.776888","9e9e01bd.a3125","dc5197f2.564818","3fe1d6fb.1ce1ea","8f2fd0d9.b0903","8fce3c7e.70f5f","d4198a74.ce1968","95795f53.e8789","f2961367.fb379","4a4bdc5b.fefb64","7a07bd86.3a55c4","abc4aabf.eed198","18bd9645.a4eb0a","98ca4584.e2b068","1566052b.0dc7db","9446b234.4121e","bb30e874.650ec8","c9fecfcd.47056","7f80343e.6802ac","2c5e3cd4.efec64","b6fe01ca.89438","6d02d39.d9ea82c","5a24b5d4.bb5dac","d8abb927.874758","7502b4d9.8901ac","6fd43b85.8aed24","6096acf5.1fc704","b3283979.222b28","77e768be.75c048","5702f3ed.24704c","6ae8f294.b00a4c","249da433.cad99c","6973624e.a2b44c","273f40d6.7c014","daeff329.6cfd4","75c4ed10.b27b74","c6272ed2.52a79","b9a93814.db9ae8","5ef6d233.3afeac","259797dd.24a058","52617e52.adaa8","6a30783c.232438","c83cafe1.132ec","3870f735.c072b8","48b7c572.af134c","826eabe5.d0d4f8","a19eecd6.ee2f2"],"x":1414,"y":1299,"w":1032,"h":1122},{"id":"ee625b2c.c3b8f8","type":"group","z":"fba125c9.c7b7a8","name":"tab Report","style":{"label":true},"nodes":["6ab9fea5.da1bb","fda640f2.fda7d","815a5d36.54af5","c68ac674.d1e6c8","73deba68.a82724","1586a142.8f892f","e604f900.d39d08","fb3e8611.7e10c8","b7843b55.c51188","514fbc3c.98fe54","3909a9c0.4bb196","5755447e.cf765c","2c28b485.bcb43c","42063ae.aac45c4","b53a6daa.99195","1b20dc32.c72ff4","bb45568.6fa4ba8","8be2509b.83c0d","a8c2985e.d23ad8","d7d6600b.1f71f","867fe7a4.9edb58","2bc9d1d4.c04b4e","ec7854e9.3fe568","b9e77ef4.097fa","e1f00e44.0b89d","d6974e9d.36aa1","ee6e2f23.511b1","4e7978f2.edcdd8","79e1ac5d.57cb14","11ce662d.a7ae7a"],"x":74,"y":859,"w":1252,"h":582},{"id":"3ad090b.3b28c7","type":"group","z":"fba125c9.c7b7a8","name":"Tab Components","style":{"label":true},"nodes":["d35a877b.05e2b8","33093c7c.c6b644","212af1a7.ed23ce","1fc4fe99.8821d1","6ecf37c8.9be168","7ddb1176.0d28d","7ef0a9c.f339858","90f92842.865478","954f0524.74ad28","cc943256.65a29","e1833377.d5f95","ed013e27.3c216","f3ffcf56.b976e","b45430ed.cd3bd"],"x":1394,"y":2493,"w":2138,"h":1474},{"id":"cc53b880.15f6b8","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Furnace","style":{"label":true},"nodes":["5e0d84f5.8c014c","2443c8e7.777b28"],"x":1774,"y":59,"w":252,"h":122},{"id":"acce86f6.5a7aa8","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Low Pressure Heater","style":{"label":true},"nodes":["3d0c2cad.75d4e4","2a393f2c.f55e2","6081ac68.3b3744","5878004f.4ac65","1a56651.fa19e9b"],"x":2054,"y":59,"w":252,"h":242},{"id":"dadcc4c7.90c888","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Dearator","style":{"label":true},"nodes":["57c1dc0d.560aa4","e7fa9c67.1375d","a6ae696b.5f5658","fa1ec176.9a0b3"],"x":2374,"y":139,"w":252,"h":202},{"id":"37783fc2.6c3cb","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"High Temperature Heater","style":{"label":true},"nodes":["ad6abee6.618","cee1b131.f40c7","6580020c.b0f84c","d4b288ff.d22a48","cc9906fb.8b1038"],"x":2654,"y":239,"w":252,"h":242},{"id":"eb0ec43f.278538","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Boiler","style":{"label":true},"nodes":["a65fea6c.12f968","1f04a24.396125e","20da190f.cafb06","64e76e8c.3573"],"x":2454,"y":479,"w":252,"h":202},{"id":"971e7fa2.ba78b","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Condenser","style":{"label":true},"nodes":["93928c37.a08a5","735ef26d.6619fc","f5462a2b.1f01e8","7d3c1bf6.cbc4e4","e983b54.04cf848"],"x":2234,"y":639,"w":252,"h":242},{"id":"f30cc0b4.232fb","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Turbine","style":{"label":true},"nodes":["8b8c5ab3.a280a8","32c6ce74.215d92","41121dd2.00b354","679c576d.3f2b28","6d520efc.2867","5e07d8aa.3500a8","c7d657e9.3f59a8","39d33340.cc0e7c","c8707c6d.225f1"],"x":1934,"y":799,"w":252,"h":402},{"id":"1fc4fe99.8821d1","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Condense Pump","style":{"label":true},"nodes":["90aad305.8184b","7631644f.28986c","28339821.e1a7c8","1c3589a6.f85c16","2715c267.4a6cfe","9e9bcaf1.6b8268","43a7548f.2c7b3c","76afc2ca.3c169c","f97c20e9.79b97","bd8818f0.77bc98"],"x":1814,"y":2519,"w":372,"h":242},{"id":"ed013e27.3c216","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Supply Pump","style":{"label":true},"nodes":["a7d1b0f2.85303","81c15cac.1c59d","d44e85e4.e8a698","e90ebb79.1982c8","5c7ac4c3.194ebc","bdab9412.01b668","cdf44258.7cd05","7548600a.b9d45","9816da41.bd31c8","6cf18d03.f191f4"],"x":2254,"y":2559,"w":372,"h":242},{"id":"e1833377.d5f95","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Circular Pump","style":{"label":true},"nodes":["d933becf.73139","2595deed.508242","dbb2544e.4ce208","83ce98fc.4f0c58","48bbfe22.45811","3556d3fd.124a3c","11b50ed9.9e86e1","f670b7a5.308128","146991e8.444cee","f88d9435.30f958"],"x":2674,"y":2559,"w":372,"h":242},{"id":"f3ffcf56.b976e","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Force Fan 1","style":{"label":true},"nodes":["664f3e15.26a6d","cf84300b.eb372","b0174834.080ea8","fd0d6e1.775199","cedfd4e2.614bc8","745c716b.31cb4","4f3e45ec.2c3c2c","e515c7bd.0ac768","db42a2e2.f7a89","d8c565cd.4b79a8"],"x":3114,"y":2799,"w":372,"h":242},{"id":"7ddb1176.0d28d","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Force Fan 2","style":{"label":true},"nodes":["e3f8c770.713af8","87144f6.3ddf1b","13fa3ff1.d3992","db61e181.f9cca","e8745a41.f74c38","30df8208.63615e","1d91438b.585ddc","cf9323c5.ec56b","4bc3b134.37ace","3646d964.f5cc76"],"x":3134,"y":3059,"w":372,"h":242},{"id":"cc943256.65a29","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Force Fan 3","style":{"label":true},"nodes":["a6138756.638aa8","f1348247.ee5c1","46315622.e6bfd8","909c284f.a2b348","b915c8df.b8a5b8","fa1369a7.3b2848","5375c8d.5e81338","a629ceb2.74de4","b7f4442a.1d1b18","bccf1f5a.686ae"],"x":2714,"y":3219,"w":372,"h":242},{"id":"6ecf37c8.9be168","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"LP Heater Valve","style":{"label":true},"nodes":["3f554799.5351f8","7f586de8.2d28b4","f9f6cd73.fd975","c5298287.49997","b53ced14.123c8","fcd63b19.8a0318","906655b3.88e888","65462c14.87a354","4f525f75.95665","73d11ab4.172874"],"x":2314,"y":3339,"w":372,"h":242},{"id":"90f92842.865478","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Deaerator Valve","style":{"label":true},"nodes":["3f134d95.3f11e2","e5aae0af.fac64","39b861c6.c98ace","2d0f21e3.0e8dee","21551c6c.a35714","c3a46ba0.38fbf8","994622f7.d5027","a8785be5.8c0758","7ab59897.9d3cc8","60bfdd65.842ef4"],"x":1914,"y":3419,"w":372,"h":242},{"id":"7ef0a9c.f339858","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"HP Heater Valve","style":{"label":true},"nodes":["d5466957.b128d8","97a26525.8d1798","7bedc272.97f0dc","93be4100.4f64e","d81e2060.c38fa","626c5854.35cdf8","212a171.bef61e8","ca4b8354.a0491","a652b6dc.718f08","2d428483.89cbcc"],"x":1914,"y":3699,"w":372,"h":242},{"id":"954f0524.74ad28","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Turbine Valve","style":{"label":true},"nodes":["633537f.ae536c8","a6884e4a.41c6b","fd8070ba.78fb8","d410d51e.5d7bc8","2067c614.ce86ca","4a28ef7d.74e39","7e0ce629.09e7f8","d43765c0.52b5c8","eb4d0683.025378","fc950b87.e25978"],"x":1514,"y":3699,"w":372,"h":242},{"id":"b45430ed.cd3bd","type":"group","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"Intermediate Pump","style":{"label":true},"nodes":["e713e58f.1eeae8","a2cb919d.d5a9d","6255de4f.b8bb3","5b322bbd.8d7354","7fcd63e7.d50d9c","d75563dc.8dbfb","3a1fc525.d502ca","d0b8492b.04e1c8","6ae956ac.aa0628","ec5b760e.0cc348"],"x":3114,"y":2539,"w":372,"h":242},{"id":"1c4d5eac.35f011","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#3700b3","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#3700b3","edited":true},"page-titlebar-backgroundColor":{"value":"#3700b3","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#4f00ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#3700b3","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Thermoelectricity Process Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf9f0266.301a5","type":"ui_tab","name":"Process","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fb31d927.bbb488","type":"ui_group","name":"General","tab":"bf9f0266.301a5","order":1,"disp":true,"width":"6","collapse":true},{"id":"b690de84.2f18e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"8883","tls":"7970ee4c.28d3e","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"71120a34.5faec4","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"test","name":""},{"id":"7970ee4c.28d3e","type":"tls-config","name":"","cert":"","key":"","ca":"C:\\Program Files\\mosquitto\\certs\\rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"62a36f42.7f6a2","type":"ui_group","name":"Furnace","tab":"bf9f0266.301a5","order":2,"disp":true,"width":"6","collapse":true},{"id":"35f2505f.671fd","type":"ui_group","name":"Low Pressure Heater","tab":"bf9f0266.301a5","order":3,"disp":true,"width":"6","collapse":true},{"id":"fcb8e0ac.da0c9","type":"ui_group","name":"Deaerator","tab":"bf9f0266.301a5","order":4,"disp":true,"width":"6","collapse":true},{"id":"ea5c497f.3b1858","type":"ui_group","name":"High Pressure Heater","tab":"bf9f0266.301a5","order":5,"disp":true,"width":"6","collapse":true},{"id":"5a751afc.19d614","type":"ui_group","name":"Boiler","tab":"bf9f0266.301a5","order":6,"disp":true,"width":"6","collapse":true},{"id":"33fe3307.9b563c","type":"ui_group","name":"Condenser","tab":"bf9f0266.301a5","order":7,"disp":true,"width":"6","collapse":true},{"id":"f1246a2a.0063b8","type":"ui_group","name":"Turbine","tab":"bf9f0266.301a5","order":8,"disp":true,"width":"6","collapse":true},{"id":"3d60225f.9f1a6e","type":"ui_tab","name":"Realtime Trend","icon":"fa-line-chart","order":3,"disabled":false,"hidden":false},{"id":"15e6e67f.96ccfa","type":"ui_group","name":"Zone 1","tab":"3d60225f.9f1a6e","order":1,"disp":true,"width":"12","collapse":true},{"id":"b3c9fc37.19662","type":"ui_group","name":"Zone 2","tab":"3d60225f.9f1a6e","order":2,"disp":true,"width":"12","collapse":true},{"id":"37283e2a.af9ff2","type":"ui_group","name":"Zone 3","tab":"3d60225f.9f1a6e","order":3,"disp":true,"width":12,"collapse":true},{"id":"a17f046a.f37218","type":"ui_group","name":"Zone 4","tab":"3d60225f.9f1a6e","order":4,"disp":true,"width":12,"collapse":true},{"id":"d3c49310.14468","type":"ui_tab","name":"Historical Trend","icon":"fa-history","order":4,"disabled":false,"hidden":false},{"id":"7dc65eaf.5a677","type":"ui_group","name":"Zone 1","tab":"d3c49310.14468","order":2,"disp":true,"width":12,"collapse":true},{"id":"bd49e8bd.1b38d8","type":"ui_group","name":"Settings","tab":"d3c49310.14468","order":1,"disp":true,"width":"12","collapse":true},{"id":"6a1a44e5.5b1cbc","type":"ui_group","name":"Zone 2","tab":"d3c49310.14468","order":3,"disp":true,"width":12,"collapse":true},{"id":"1fb9445.b605abc","type":"ui_group","name":"Zone 3","tab":"d3c49310.14468","order":4,"disp":true,"width":12,"collapse":true},{"id":"f53ea45d.2bbb98","type":"ui_group","name":"Zone 4","tab":"d3c49310.14468","order":5,"disp":true,"width":12,"collapse":true},{"id":"9b39cd17.020e9","type":"ui_spacer","name":"spacer","group":"bd49e8bd.1b38d8","order":5,"width":3,"height":1},{"id":"75ff45f6.f00d1c","type":"ui_spacer","name":"spacer","group":"bd49e8bd.1b38d8","order":7,"width":3,"height":1},{"id":"9779d7ea.5ecda8","type":"ui_tab","name":"Report","icon":"fa-file-text","order":5,"disabled":false,"hidden":false},{"id":"dabdd43.caf0828","type":"ui_group","name":"Settings","tab":"9779d7ea.5ecda8","order":1,"disp":true,"width":12,"collapse":true},{"id":"eebc7528.5ac558","type":"ui_group","name":"Export Process Data","tab":"9779d7ea.5ecda8","order":2,"disp":true,"width":"6","collapse":true},{"id":"28b43f8b.27ea9","type":"ui_spacer","name":"spacer","group":"dabdd43.caf0828","order":5,"width":4,"height":1},{"id":"1663c5f8.496f1a","type":"ui_spacer","name":"spacer","group":"dabdd43.caf0828","order":7,"width":4,"height":1},{"id":"f15e40aa.bf92a","type":"ui_tab","name":"Components","icon":"fa-industry","order":2,"disabled":false,"hidden":false},{"id":"39961720.e2af88","type":"ui_group","name":"Condense Pump","tab":"f15e40aa.bf92a","order":2,"disp":true,"width":"6","collapse":true},{"id":"44856f4a.fffa1","type":"ui_group","name":"Supply Pump","tab":"f15e40aa.bf92a","order":3,"disp":true,"width":"6","collapse":true},{"id":"3fa01a6b.d6a136","type":"ui_group","name":"Circular Pump","tab":"f15e40aa.bf92a","order":4,"disp":true,"width":"6","collapse":true},{"id":"9ee45f57.f5a48","type":"ui_group","name":"Force Fan 1","tab":"f15e40aa.bf92a","order":6,"disp":true,"width":"6","collapse":true},{"id":"669dff87.cdd0c","type":"ui_group","name":"Force Fan 2","tab":"f15e40aa.bf92a","order":7,"disp":true,"width":"6","collapse":true},{"id":"f94654ce.f6f718","type":"ui_group","name":"Force Fan 3","tab":"f15e40aa.bf92a","order":8,"disp":true,"width":"6","collapse":true},{"id":"5061c631.3b4ef8","type":"ui_group","name":"LP Heater Valve","tab":"f15e40aa.bf92a","order":9,"disp":true,"width":"6","collapse":true},{"id":"47895742.49f2a8","type":"ui_group","name":"Deaerator Valve","tab":"f15e40aa.bf92a","order":10,"disp":true,"width":"6","collapse":true},{"id":"b36ef2a3.81188","type":"ui_group","name":"HP Heater Valve","tab":"f15e40aa.bf92a","order":11,"disp":true,"width":"6","collapse":true},{"id":"321a8fcb.672c2","type":"ui_group","name":"Turbine Valve","tab":"f15e40aa.bf92a","order":12,"disp":true,"width":"6","collapse":true},{"id":"37460e3a.9bc152","type":"ui_group","name":"General","tab":"f15e40aa.bf92a","order":1,"disp":true,"width":"6","collapse":true},{"id":"6f61f81c.7e1978","type":"ui_group","name":"Export Component Data","tab":"9779d7ea.5ecda8","order":3,"disp":true,"width":"6","collapse":true},{"id":"cbac551.29e2fa8","type":"ui_group","name":"Intermediate Pump","tab":"f15e40aa.bf92a","order":5,"disp":true,"width":"6","collapse":true},{"id":"5c846e8f.8bab1","type":"mqtt in","z":"fba125c9.c7b7a8","name":"MyMqtt","topic":"IPC/ProcessData","qos":"0","datatype":"utf8","broker":"b690de84.2f18e","nl":false,"rap":true,"rh":0,"x":150,"y":140,"wires":[["6aea6333.58377c"]]},{"id":"85a70740.b60518","type":"mongodb out","z":"fba125c9.c7b7a8","mongodb":"71120a34.5faec4","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"store","x":670,"y":200,"wires":[]},{"id":"6aea6333.58377c","type":"function","z":"fba125c9.c7b7a8","name":"","func":"let str = msg.payload.slice(0, -1); \nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":140,"wires":[["e48d00e.7099"]]},{"id":"e48d00e.7099","type":"json","z":"fba125c9.c7b7a8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":140,"wires":[["e38f5eee.adb16","85a70740.b60518"]]},{"id":"8188547c.5691d8","type":"ui_text","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","group":"fb31d927.bbb488","order":2,"width":0,"height":0,"name":"","label":"Time Stamp","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":80,"wires":[]},{"id":"5e0d84f5.8c014c","type":"ui_text","z":"fba125c9.c7b7a8","g":"cc53b880.15f6b8","group":"62a36f42.7f6a2","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.FurTemp.toFixed(3)}} oC","layout":"row-spread","x":1900,"y":100,"wires":[]},{"id":"2443c8e7.777b28","type":"ui_text","z":"fba125c9.c7b7a8","g":"cc53b880.15f6b8","group":"62a36f42.7f6a2","order":2,"width":0,"height":0,"name":"","label":"Input Power","format":"{{msg.payload.ProcessData.FurInper.toFixed(3)}} %","layout":"row-spread","x":1870,"y":140,"wires":[]},{"id":"3d0c2cad.75d4e4","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.LphTemp.toFixed(3)}} oC","layout":"row-spread","x":2180,"y":100,"wires":[]},{"id":"2a393f2c.f55e2","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.LphPress.toFixed(3)}} bar","layout":"row-spread","x":2160,"y":140,"wires":[]},{"id":"6081ac68.3b3744","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.LphInpress.toFixed(3)}} bar","layout":"row-spread","x":2160,"y":220,"wires":[]},{"id":"5878004f.4ac65","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.ConTemp.toFixed(3)}} bar","layout":"row-spread","x":2170,"y":180,"wires":[]},{"id":"1a56651.fa19e9b","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":5,"width":0,"height":0,"name":"","label":"Input Flow","format":"{{msg.payload.ProcessData.LphInflow.toFixed(3)}} bar","layout":"row-spread","x":2150,"y":260,"wires":[]},{"id":"57c1dc0d.560aa4","type":"ui_text","z":"fba125c9.c7b7a8","g":"dadcc4c7.90c888","group":"fcb8e0ac.da0c9","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.DeaTemp.toFixed(3)}} oC","layout":"row-spread","x":2500,"y":180,"wires":[]},{"id":"e7fa9c67.1375d","type":"ui_text","z":"fba125c9.c7b7a8","g":"dadcc4c7.90c888","group":"fcb8e0ac.da0c9","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.DeaPress.toFixed(3)}} bar","layout":"row-spread","x":2480,"y":220,"wires":[]},{"id":"a6ae696b.5f5658","type":"ui_text","z":"fba125c9.c7b7a8","g":"dadcc4c7.90c888","group":"fcb8e0ac.da0c9","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.LphPress.toFixed(3)}} bar","layout":"row-spread","x":2480,"y":300,"wires":[]},{"id":"fa1ec176.9a0b3","type":"ui_text","z":"fba125c9.c7b7a8","g":"dadcc4c7.90c888","group":"fcb8e0ac.da0c9","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.LphTemp.toFixed(3)}} bar","layout":"row-spread","x":2490,"y":260,"wires":[]},{"id":"ad6abee6.618","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.HphTemp.toFixed(3)}} oC","layout":"row-spread","x":2780,"y":280,"wires":[]},{"id":"cee1b131.f40c7","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.HphPress.toFixed(3)}} bar","layout":"row-spread","x":2760,"y":320,"wires":[]},{"id":"6580020c.b0f84c","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.HphInpress.toFixed(3)}} bar","layout":"row-spread","x":2760,"y":400,"wires":[]},{"id":"d4b288ff.d22a48","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.DeaTemp.toFixed(3)}} bar","layout":"row-spread","x":2770,"y":360,"wires":[]},{"id":"cc9906fb.8b1038","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":5,"width":0,"height":0,"name":"","label":"Input Flow","format":"{{msg.payload.ProcessData.HphInflow.toFixed(3)}} bar","layout":"row-spread","x":2750,"y":440,"wires":[]},{"id":"a65fea6c.12f968","type":"ui_text","z":"fba125c9.c7b7a8","g":"eb0ec43f.278538","group":"5a751afc.19d614","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.BoiTemp.toFixed(3)}} oC","layout":"row-spread","x":2580,"y":520,"wires":[]},{"id":"1f04a24.396125e","type":"ui_text","z":"fba125c9.c7b7a8","g":"eb0ec43f.278538","group":"5a751afc.19d614","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.BoiPress.toFixed(3)}} bar","layout":"row-spread","x":2560,"y":560,"wires":[]},{"id":"20da190f.cafb06","type":"ui_text","z":"fba125c9.c7b7a8","g":"eb0ec43f.278538","group":"5a751afc.19d614","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.HphPress.toFixed(3)}} bar","layout":"row-spread","x":2560,"y":640,"wires":[]},{"id":"64e76e8c.3573","type":"ui_text","z":"fba125c9.c7b7a8","g":"eb0ec43f.278538","group":"5a751afc.19d614","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.HphTemp.toFixed(3)}} bar","layout":"row-spread","x":2570,"y":600,"wires":[]},{"id":"93928c37.a08a5","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.ConTemp.toFixed(3)}} oC","layout":"row-spread","x":2360,"y":680,"wires":[]},{"id":"735ef26d.6619fc","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.TurLpress.toFixed(3)}} bar","layout":"row-spread","x":2340,"y":720,"wires":[]},{"id":"f5462a2b.1f01e8","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.TurLpress.toFixed(3)}} bar","layout":"row-spread","x":2340,"y":800,"wires":[]},{"id":"7d3c1bf6.cbc4e4","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.TurLtemp.toFixed(3)}} bar","layout":"row-spread","x":2350,"y":760,"wires":[]},{"id":"e983b54.04cf848","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":5,"width":0,"height":0,"name":"","label":"Input Flow","format":"{{msg.payload.ProcessData.ConInflow.toFixed(3)}} bar","layout":"row-spread","x":2330,"y":840,"wires":[]},{"id":"8b8c5ab3.a280a8","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":2,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.TurLtemp.toFixed(3)}} oC","layout":"row-spread","x":2060,"y":880,"wires":[]},{"id":"32c6ce74.215d92","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":3,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.TurLpress.toFixed(3)}} bar","layout":"row-spread","x":2040,"y":920,"wires":[]},{"id":"41121dd2.00b354","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":1,"width":0,"height":0,"name":"","label":"Output Speed","format":"{{msg.payload.ProcessData.TurSpeed.toFixed(3)}} oC","layout":"row-spread","x":2040,"y":840,"wires":[]},{"id":"679c576d.3f2b28","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":4,"width":0,"height":0,"name":"","label":"IP Temperature","format":"{{msg.payload.ProcessData.TurItemp.toFixed(3)}} oC","layout":"row-spread","x":2040,"y":960,"wires":[]},{"id":"6d520efc.2867","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":5,"width":0,"height":0,"name":"","label":"IP Pressure","format":"{{msg.payload.ProcessData.TurIpress.toFixed(3)}} bar","layout":"row-spread","x":2030,"y":1000,"wires":[]},{"id":"5e07d8aa.3500a8","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":6,"width":0,"height":0,"name":"","label":"HP Temperature","format":"{{msg.payload.ProcessData.TurHtemp.toFixed(3)}} oC","layout":"row-spread","x":2040,"y":1040,"wires":[]},{"id":"c7d657e9.3f59a8","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":7,"width":0,"height":0,"name":"","label":"HP Pressure","format":"{{msg.payload.ProcessData.TurHpress.toFixed(3)}} bar","layout":"row-spread","x":2030,"y":1080,"wires":[]},{"id":"39d33340.cc0e7c","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":8,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.BoiTemp.toFixed(3)}} oC","layout":"row-spread","x":2050,"y":1120,"wires":[]},{"id":"c8707c6d.225f1","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":9,"width":0,"height":0,"name":"","label":"InputPressure","format":"{{msg.payload.ProcessData.BoiPress.toFixed(3)}} bar","layout":"row-spread","x":2040,"y":1160,"wires":[]},{"id":"f56cb9c5.30eaf8","type":"function","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"","func":"var dt = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nvar hour = \"0\" + dt.getHours();\nvar min = \"0\" + dt.getMinutes();\nvar sec = \"0\" + dt.getSeconds();\nvar day = dt.getDate();\nvar month = dt.getMonth() + 1;\nvar year = dt.getFullYear();\nmsg2 = msg;\nmsg2.payload = hour.substr(-2) + \":\" + min.substr(-2) + \":\" + sec.substr(-2) + \" \" + day + \"/\" + month + \"/\" + year;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":220,"wires":[["8188547c.5691d8"]]},{"id":"63286668.ccb6a8","type":"link in","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"tabProcessIn","links":["e38f5eee.adb16"],"x":1455,"y":520,"wires":[["f56cb9c5.30eaf8","5e0d84f5.8c014c","2443c8e7.777b28","3d0c2cad.75d4e4","2a393f2c.f55e2","5878004f.4ac65","6081ac68.3b3744","1a56651.fa19e9b","57c1dc0d.560aa4","e7fa9c67.1375d","fa1ec176.9a0b3","a6ae696b.5f5658","ad6abee6.618","cee1b131.f40c7","d4b288ff.d22a48","6580020c.b0f84c","cc9906fb.8b1038","a65fea6c.12f968","1f04a24.396125e","64e76e8c.3573","20da190f.cafb06","93928c37.a08a5","735ef26d.6619fc","7d3c1bf6.cbc4e4","f5462a2b.1f01e8","e983b54.04cf848","41121dd2.00b354","8b8c5ab3.a280a8","32c6ce74.215d92","679c576d.3f2b28","6d520efc.2867","5e07d8aa.3500a8","c7d657e9.3f59a8","39d33340.cc0e7c","c8707c6d.225f1"]]},{"id":"e38f5eee.adb16","type":"link out","z":"fba125c9.c7b7a8","name":"MqttOut","links":["63286668.ccb6a8","8245cd58.8b53","d35a877b.05e2b8"],"x":595,"y":140,"wires":[]},{"id":"6fa3645c.8be62c","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"15e6e67f.96ccfa","order":1,"width":0,"height":0,"label":"Furnace Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2980,"y":1340,"wires":[[]]},{"id":"8245cd58.8b53","type":"link in","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"tabTrendIn","links":["e38f5eee.adb16"],"x":2535,"y":1780,"wires":[["fd8ed304.8a13e","b85bb194.2fc3","6964874b.4eafb8","7eacf09d.b662b","12db5dd9.66d542","d3b61a29.618b58","cad08017.b07e4","70986cf0.166294","7d5976d1.0a7818","69e50b40.33ab54","8f17ccad.a086b","4f68f5ec.cf6b6c","38c439f2.3dfcf6","cb194ca4.d7552","1edc450e.f2d73b","120b6515.0d4a6b","531364c0.35722c","e9b6a951.735a18","9596d4aa.1fbc78","75c828e1.aadfa8","f885466f.efa2a8","788b2841.8381a8"]]},{"id":"fd8ed304.8a13e","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Furnace\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.FurTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1340,"wires":[["6fa3645c.8be62c"]]},{"id":"bffbcb73.77e1e8","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"b3c9fc37.19662","order":1,"width":0,"height":0,"label":"Vessel Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2970,"y":1420,"wires":[[]]},{"id":"b85bb194.2fc3","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"LP Heater\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.LphTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1420,"wires":[["bffbcb73.77e1e8"]]},{"id":"6964874b.4eafb8","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Deaerator\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.DeaTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1460,"wires":[["bffbcb73.77e1e8"]]},{"id":"7eacf09d.b662b","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"HP Heater\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.HphTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1500,"wires":[["bffbcb73.77e1e8"]]},{"id":"d5f784d9.c27798","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"b3c9fc37.19662","order":2,"width":0,"height":0,"label":"Vessel Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2960,"y":1580,"wires":[[]]},{"id":"12db5dd9.66d542","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"LP Heater\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.LphPress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1580,"wires":[["d5f784d9.c27798"]]},{"id":"d3b61a29.618b58","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Deaerator\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.DeaPress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1620,"wires":[["d5f784d9.c27798"]]},{"id":"cad08017.b07e4","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"HP Heater\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.HphPress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1660,"wires":[["d5f784d9.c27798"]]},{"id":"26bbf2fd.f8397e","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"b3c9fc37.19662","order":4,"width":0,"height":0,"label":"Pump Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2960,"y":1720,"wires":[[]]},{"id":"70986cf0.166294","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Condense Pump\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.LphInpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1720,"wires":[["26bbf2fd.f8397e"]]},{"id":"7d5976d1.0a7818","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Supply Pump\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.HphInpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1760,"wires":[["26bbf2fd.f8397e"]]},{"id":"31100972.fab8c6","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"b3c9fc37.19662","order":3,"width":0,"height":0,"label":"Pump Flow","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2950,"y":1820,"wires":[[]]},{"id":"69e50b40.33ab54","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Condense Pump\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.LphInflow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1820,"wires":[["31100972.fab8c6"]]},{"id":"788b2841.8381a8","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Supply Pump\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.HphInflow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1860,"wires":[["31100972.fab8c6"]]},{"id":"36700fe8.0a64e","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"37283e2a.af9ff2","order":1,"width":0,"height":0,"label":"Component Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2990,"y":1920,"wires":[[]]},{"id":"8f17ccad.a086b","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Boiler\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.BoiTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1920,"wires":[["36700fe8.0a64e"]]},{"id":"4f68f5ec.cf6b6c","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"HP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurHtemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":1960,"wires":[["36700fe8.0a64e"]]},{"id":"38c439f2.3dfcf6","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"IP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurHtemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2000,"wires":[["36700fe8.0a64e"]]},{"id":"cb194ca4.d7552","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"LP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurLtemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2040,"wires":[["36700fe8.0a64e"]]},{"id":"86d8c6f0.bb3208","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"37283e2a.af9ff2","order":2,"width":0,"height":0,"label":"Component Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2980,"y":2100,"wires":[[]]},{"id":"1edc450e.f2d73b","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Boiler\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.BoiPress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2100,"wires":[["86d8c6f0.bb3208"]]},{"id":"120b6515.0d4a6b","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"HP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurHpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2140,"wires":[["86d8c6f0.bb3208"]]},{"id":"531364c0.35722c","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"IP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurIpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2180,"wires":[["86d8c6f0.bb3208"]]},{"id":"e9b6a951.735a18","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"LP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurLpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2220,"wires":[["86d8c6f0.bb3208"]]},{"id":"f058fcdf.ffbde","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"37283e2a.af9ff2","order":3,"width":0,"height":0,"label":"Turbine Rotation Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2990,"y":2280,"wires":[[]]},{"id":"9596d4aa.1fbc78","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurSpeed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2280,"wires":[["f058fcdf.ffbde"]]},{"id":"38ce31cd.bbe2ae","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"a17f046a.f37218","order":1,"width":0,"height":0,"label":"Condenser Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#9467bd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2990,"y":2340,"wires":[[]]},{"id":"75c828e1.aadfa8","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Condenser\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.ConTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2340,"wires":[["38ce31cd.bbe2ae"]]},{"id":"735ec0e.8e4264","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"a17f046a.f37218","order":2,"width":0,"height":0,"label":"Condenser Flow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2960,"y":2380,"wires":[[]]},{"id":"f885466f.efa2a8","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Condenser\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.ConInflow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2380,"wires":[["735ec0e.8e4264"]]},{"id":"970ef9d.4520208","type":"mongodb in","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","mongodb":"71120a34.5faec4","name":"","collection":"test","operation":"find","x":510,"y":760,"wires":[["937e572.25e2ba8"]]},{"id":"3d78d396.7ed65c","type":"function","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","func":"let start = flow.get(\"StartDate\") + flow.get(\"StartTime\");\nlet stop = flow.get(\"StopDate\") + flow.get(\"StopTime\");\nvar starttime = JSON.stringify(new Date(start)).replace('\"','').slice(0, -6);\nvar stoptime = JSON.stringify(new Date(stop)).replace('\"','').slice(0, -5);\n\nmsg.payload = {$and:[{\"Timestamp\": {$gte:starttime, \n                $lte:stoptime} }] };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":760,"wires":[["970ef9d.4520208"]]},{"id":"169b2897.4ac227","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"7dc65eaf.5a677","order":1,"width":0,"height":0,"label":"Furnace Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2300,"y":1340,"wires":[[]]},{"id":"380f9395.5a787c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.FurTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1340,"wires":[["bc646732.801f88"]]},{"id":"937e572.25e2ba8","type":"split","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":760,"wires":[["6fe6698e.fad728"]]},{"id":"bc646732.801f88","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1340,"wires":[["8c713266.c2379"]]},{"id":"8c713266.c2379","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Furnace\"],\n        \"data\": [msg.payload],\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":1340,"wires":[["169b2897.4ac227"]]},{"id":"b22baf9e.55bdc","type":"link in","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","links":["6fe6698e.fad728","7d9cddcc.b11524"],"x":1455,"y":1740,"wires":[["380f9395.5a787c","6c13710a.e98f2","85d9b8.72f01648","4d202d38.21af24","49a73f14.4372c","9e9e01bd.a3125","3fe1d6fb.1ce1ea","d4198a74.ce1968","4a4bdc5b.fefb64","18bd9645.a4eb0a","9446b234.4121e","7f80343e.6802ac","6d02d39.d9ea82c","7502b4d9.8901ac","6096acf5.1fc704","77e768be.75c048","249da433.cad99c","daeff329.6cfd4","c6272ed2.52a79","5ef6d233.3afeac","6a30783c.232438","48b7c572.af134c"]]},{"id":"6fe6698e.fad728","type":"link out","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"DbOut","links":["b22baf9e.55bdc"],"x":795,"y":760,"wires":[]},{"id":"88123510.ee5078","type":"ui_date_picker","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"start","label":"","group":"bd49e8bd.1b38d8","order":2,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":170,"y":560,"wires":[["bb17110a.95252"]]},{"id":"4c473c26.78bdb4","type":"ui_text_input","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","label":"Start time","tooltip":"Enter the start time for the Trend","group":"bd49e8bd.1b38d8","order":1,"width":6,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":180,"y":520,"wires":[["e17b0f79.2a696"]]},{"id":"5d57a2c3.b7537c","type":"ui_date_picker","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"stop","label":"","group":"bd49e8bd.1b38d8","order":4,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":170,"y":660,"wires":[["ec9fb92b.543ac8"]]},{"id":"8a6dd747.cddb38","type":"ui_text_input","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","label":"Stop time","tooltip":"Enter the stop time for the Trend","group":"bd49e8bd.1b38d8","order":3,"width":6,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":180,"y":620,"wires":[["be21a312.79366"]]},{"id":"e17b0f79.2a696","type":"change","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","rules":[{"t":"set","p":"StartTime","pt":"flow","to":"msg.payload - 25200000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":520,"wires":[[]]},{"id":"bb17110a.95252","type":"change","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","rules":[{"t":"set","p":"StartDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":560,"wires":[[]]},{"id":"be21a312.79366","type":"change","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","rules":[{"t":"set","p":"StopTime","pt":"flow","to":"msg.payload - 25200000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":620,"wires":[[]]},{"id":"ec9fb92b.543ac8","type":"change","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","rules":[{"t":"set","p":"StopDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":660,"wires":[[]]},{"id":"87f83094.5f151","type":"inject","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":440,"wires":[["3c0e29ee.6a3d16"]]},{"id":"3c0e29ee.6a3d16","type":"function","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","func":"flow.set(\"StartDate\", msg.payload);\nflow.set(\"StopDate\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":440,"wires":[[]]},{"id":"cb314931.721708","type":"ui_button","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","group":"bd49e8bd.1b38d8","order":6,"width":6,"height":1,"passthru":false,"label":"Set","tooltip":"Set the time range for Trend","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":760,"wires":[["3d78d396.7ed65c"]]},{"id":"7e1f119a.b6938","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"6a1a44e5.5b1cbc","order":1,"width":0,"height":0,"label":"Vessel Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2290,"y":1460,"wires":[[]]},{"id":"11790ab3.07f3a5","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"6a1a44e5.5b1cbc","order":2,"width":0,"height":0,"label":"Vessel Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2280,"y":1600,"wires":[[]]},{"id":"ed728504.3be0a8","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"6a1a44e5.5b1cbc","order":4,"width":0,"height":0,"label":"Pump Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2280,"y":1740,"wires":[[]]},{"id":"986a1cc9.2b706","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"6a1a44e5.5b1cbc","order":3,"width":0,"height":0,"label":"Pump Flow","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2270,"y":1840,"wires":[[]]},{"id":"b37e7d8d.1a3f5","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"1fb9445.b605abc","order":1,"width":0,"height":0,"label":"Component Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2310,"y":1940,"wires":[[]]},{"id":"ac1b044.a0c78f8","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"1fb9445.b605abc","order":2,"width":0,"height":0,"label":"Component Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2300,"y":2120,"wires":[[]]},{"id":"52c679d7.a10b08","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"1fb9445.b605abc","order":3,"width":0,"height":0,"label":"Turbine Rotation Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2310,"y":2280,"wires":[[]]},{"id":"75d3265c.33b488","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"f53ea45d.2bbb98","order":1,"width":0,"height":0,"label":"Condenser Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#9467bd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2310,"y":2340,"wires":[[]]},{"id":"9056056e.f63cd8","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"f53ea45d.2bbb98","order":2,"width":0,"height":0,"label":"Condenser Flow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2280,"y":2380,"wires":[[]]},{"id":"6c13710a.e98f2","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.LphTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1420,"wires":[["217075e.3d39f8a"]]},{"id":"217075e.3d39f8a","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1420,"wires":[["b0559249.17184"]]},{"id":"eeb54d01.73635","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"LP Heater\", \"Deaerator\", \"HP Heater\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":1460,"wires":[["7e1f119a.b6938"]]},{"id":"85d9b8.72f01648","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.DeaTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1460,"wires":[["d612f851.6db5b8"]]},{"id":"d612f851.6db5b8","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1460,"wires":[["b0559249.17184"]]},{"id":"4d202d38.21af24","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.HphTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1500,"wires":[["4071a5b7.46090c"]]},{"id":"4071a5b7.46090c","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1500,"wires":[["b0559249.17184"]]},{"id":"b0559249.17184","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1950,"y":1460,"wires":[["eeb54d01.73635"]]},{"id":"49a73f14.4372c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.LphPress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1560,"wires":[["fbe831b4.fb8df"]]},{"id":"fbe831b4.fb8df","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1560,"wires":[["8fce3c7e.70f5f"]]},{"id":"bbd6c813.776888","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"LP Heater\", \"Deaerator\", \"HP Heater\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":1600,"wires":[["11790ab3.07f3a5"]]},{"id":"9e9e01bd.a3125","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.DeaPress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1600,"wires":[["dc5197f2.564818"]]},{"id":"dc5197f2.564818","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1600,"wires":[["8fce3c7e.70f5f"]]},{"id":"3fe1d6fb.1ce1ea","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.HphPress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1640,"wires":[["8f2fd0d9.b0903"]]},{"id":"8f2fd0d9.b0903","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1640,"wires":[["8fce3c7e.70f5f"]]},{"id":"8fce3c7e.70f5f","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1950,"y":1600,"wires":[["bbd6c813.776888"]]},{"id":"d4198a74.ce1968","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.LphInpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1700,"wires":[["95795f53.e8789"]]},{"id":"95795f53.e8789","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1700,"wires":[["abc4aabf.eed198"]]},{"id":"f2961367.fb379","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Condense Pump\", \"Supply Pump\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":1740,"wires":[["ed728504.3be0a8"]]},{"id":"4a4bdc5b.fefb64","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.HphInpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1740,"wires":[["7a07bd86.3a55c4"]]},{"id":"7a07bd86.3a55c4","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1740,"wires":[["abc4aabf.eed198"]]},{"id":"abc4aabf.eed198","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1950,"y":1740,"wires":[["f2961367.fb379"]]},{"id":"18bd9645.a4eb0a","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.LphInflow;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1800,"wires":[["98ca4584.e2b068"]]},{"id":"98ca4584.e2b068","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1800,"wires":[["c9fecfcd.47056"]]},{"id":"1566052b.0dc7db","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Condense Pump\", \"Supply Pump\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":1840,"wires":[["986a1cc9.2b706"]]},{"id":"9446b234.4121e","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.HphInflow;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1840,"wires":[["bb30e874.650ec8"]]},{"id":"bb30e874.650ec8","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1840,"wires":[["c9fecfcd.47056"]]},{"id":"c9fecfcd.47056","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1950,"y":1840,"wires":[["1566052b.0dc7db"]]},{"id":"7f80343e.6802ac","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.BoiTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1900,"wires":[["2c5e3cd4.efec64"]]},{"id":"2c5e3cd4.efec64","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1900,"wires":[["d8abb927.874758"]]},{"id":"b6fe01ca.89438","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Boiler\", \"HP Turbine\", \"IP Turbine\", \"LP Turbine\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":1940,"wires":[["b37e7d8d.1a3f5"]]},{"id":"6d02d39.d9ea82c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurHtemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1940,"wires":[["5a24b5d4.bb5dac"]]},{"id":"5a24b5d4.bb5dac","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1940,"wires":[["d8abb927.874758"]]},{"id":"d8abb927.874758","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1950,"y":1940,"wires":[["b6fe01ca.89438"]]},{"id":"7502b4d9.8901ac","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurItemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1980,"wires":[["6fd43b85.8aed24"]]},{"id":"6fd43b85.8aed24","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":1980,"wires":[["d8abb927.874758"]]},{"id":"6096acf5.1fc704","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurLtemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2020,"wires":[["b3283979.222b28"]]},{"id":"b3283979.222b28","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":2020,"wires":[["d8abb927.874758"]]},{"id":"77e768be.75c048","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.BoiPress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2080,"wires":[["5702f3ed.24704c"]]},{"id":"5702f3ed.24704c","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":2080,"wires":[["273f40d6.7c014"]]},{"id":"6ae8f294.b00a4c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Boiler\", \"HP Turbine\", \"IP Turbine\", \"LP Turbine\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":2120,"wires":[["ac1b044.a0c78f8"]]},{"id":"249da433.cad99c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurHpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2120,"wires":[["6973624e.a2b44c"]]},{"id":"6973624e.a2b44c","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":2120,"wires":[["273f40d6.7c014"]]},{"id":"273f40d6.7c014","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1950,"y":2120,"wires":[["6ae8f294.b00a4c"]]},{"id":"daeff329.6cfd4","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurIpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2160,"wires":[["75c4ed10.b27b74"]]},{"id":"75c4ed10.b27b74","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":2160,"wires":[["273f40d6.7c014"]]},{"id":"c6272ed2.52a79","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurLpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2200,"wires":[["b9a93814.db9ae8"]]},{"id":"b9a93814.db9ae8","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":2200,"wires":[["273f40d6.7c014"]]},{"id":"5ef6d233.3afeac","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurSpeed;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2280,"wires":[["259797dd.24a058"]]},{"id":"259797dd.24a058","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1810,"y":2280,"wires":[["52617e52.adaa8"]]},{"id":"52617e52.adaa8","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Turbine\"],\n        \"data\": [msg.payload],\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":2280,"wires":[["52c679d7.a10b08"]]},{"id":"6a30783c.232438","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.ConTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2340,"wires":[["c83cafe1.132ec"]]},{"id":"c83cafe1.132ec","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":2340,"wires":[["3870f735.c072b8"]]},{"id":"3870f735.c072b8","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Condenser\"],\n        \"data\": [msg.payload],\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":2340,"wires":[["75d3265c.33b488"]]},{"id":"48b7c572.af134c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.ConInflow;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":2380,"wires":[["826eabe5.d0d4f8"]]},{"id":"826eabe5.d0d4f8","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":2380,"wires":[["a19eecd6.ee2f2"]]},{"id":"a19eecd6.ee2f2","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Condenser\"],\n        \"data\": [msg.payload],\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":2380,"wires":[["9056056e.f63cd8"]]},{"id":"42063ae.aac45c4","type":"csv","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\r\\n","temp":"Timestamp, FurTemp, FurInper, LphTemp, LphPress, LphInpress, LphInflow, DeaTemp, DeaPress, HphTemp, HphPress, HphInpress, HphInflow, BoiTemp, BoiPress, ConTemp, ConInflow, TurHtemp, TurItemp, TurLtemp, TurHpress, TurIpress, TurLpress, TurSpeed","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":830,"y":1120,"wires":[["2bc9d1d4.c04b4e"]]},{"id":"6ab9fea5.da1bb","type":"mongodb in","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","mongodb":"71120a34.5faec4","name":"","collection":"test","operation":"find","x":570,"y":1200,"wires":[["1b20dc32.c72ff4"]]},{"id":"fda640f2.fda7d","type":"function","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","func":"let start = flow.get(\"StartDate2\") + flow.get(\"StartTime2\");\nlet stop = flow.get(\"StopDate2\") + flow.get(\"StopTime2\");\nvar starttime = JSON.stringify(new Date(start)).replace('\"','').slice(0, -6);\nvar stoptime = JSON.stringify(new Date(stop)).replace('\"','').slice(0, -5);\n\nmsg.payload = {$and:[{\"Timestamp\": {$gte:starttime, \n                $lte:stoptime} }] };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1200,"wires":[["6ab9fea5.da1bb"]]},{"id":"815a5d36.54af5","type":"ui_date_picker","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"start","label":"","group":"dabdd43.caf0828","order":2,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":170,"y":1020,"wires":[["fb3e8611.7e10c8"]]},{"id":"c68ac674.d1e6c8","type":"ui_text_input","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","label":"Start time","tooltip":"Enter the start time for the Trend","group":"dabdd43.caf0828","order":1,"width":6,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":180,"y":980,"wires":[["e604f900.d39d08"]]},{"id":"73deba68.a82724","type":"ui_date_picker","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"stop","label":"","group":"dabdd43.caf0828","order":4,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":170,"y":1120,"wires":[["514fbc3c.98fe54"]]},{"id":"1586a142.8f892f","type":"ui_text_input","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","label":"Stop time","tooltip":"Enter the stop time for the Trend","group":"dabdd43.caf0828","order":3,"width":6,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":180,"y":1080,"wires":[["b7843b55.c51188"]]},{"id":"e604f900.d39d08","type":"change","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","rules":[{"t":"set","p":"StartTime2","pt":"flow","to":"msg.payload - 25200000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":980,"wires":[[]]},{"id":"fb3e8611.7e10c8","type":"change","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","rules":[{"t":"set","p":"StartDate2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1020,"wires":[[]]},{"id":"b7843b55.c51188","type":"change","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","rules":[{"t":"set","p":"StopTime2","pt":"flow","to":"msg.payload - 25200000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1080,"wires":[[]]},{"id":"514fbc3c.98fe54","type":"change","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","rules":[{"t":"set","p":"StopDate2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1120,"wires":[[]]},{"id":"3909a9c0.4bb196","type":"inject","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":900,"wires":[["5755447e.cf765c"]]},{"id":"5755447e.cf765c","type":"function","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","func":"flow.set(\"StartDate2\", msg.payload);\nflow.set(\"StopDate2\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":900,"wires":[[]]},{"id":"2c28b485.bcb43c","type":"ui_button","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","group":"dabdd43.caf0828","order":6,"width":4,"height":1,"passthru":false,"label":"Choose Range","tooltip":"Choose time range to export data","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1200,"wires":[["fda640f2.fda7d"]]},{"id":"b53a6daa.99195","type":"function","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","func":"var time = msg.payload.Timestamp;\nmsg.payload = msg.payload.ProcessData;\nmsg.payload.Timestamp = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1200,"wires":[["bb45568.6fa4ba8"]]},{"id":"1b20dc32.c72ff4","type":"split","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":1200,"wires":[["b53a6daa.99195","ec7854e9.3fe568"]]},{"id":"bb45568.6fa4ba8","type":"join","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":1120,"wires":[["d7d6600b.1f71f","42063ae.aac45c4"]]},{"id":"8be2509b.83c0d","type":"file","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","filename":"C:\\nrpub\\files\\a.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1210,"y":1120,"wires":[[]]},{"id":"a8c2985e.d23ad8","type":"ui_template","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","group":"eebc7528.5ac558","name":"Export processdata","order":1,"width":0,"height":0,"format":"<div style=\"display:flex; justify-content: center; \">\n    <button id=\"meo\" onclick=\"location.href='http://localhost:1880/files/a.csv'\" type=\"button\"\n            style=\"width:100%; background:#3700b3; color:#ffffff; border:none; height:40px;\">\n         EXPORT CSV</button>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":650,"y":900,"wires":[[]]},{"id":"d7d6600b.1f71f","type":"function","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","func":"msg.payload = 'sep=,'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1080,"wires":[["867fe7a4.9edb58"]]},{"id":"867fe7a4.9edb58","type":"file","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","filename":"C:\\nrpub\\files\\a.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1030,"y":1080,"wires":[[]]},{"id":"2bc9d1d4.c04b4e","type":"delay","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":1120,"wires":[["8be2509b.83c0d"]]},{"id":"d35a877b.05e2b8","type":"link in","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"","links":["e38f5eee.adb16"],"x":1435,"y":3060,"wires":[["212af1a7.ed23ce","7631644f.28986c","1c3589a6.f85c16","9e9bcaf1.6b8268","76afc2ca.3c169c","bd8818f0.77bc98","81c15cac.1c59d","e90ebb79.1982c8","bdab9412.01b668","7548600a.b9d45","6cf18d03.f191f4","2595deed.508242","83ce98fc.4f0c58","3556d3fd.124a3c","f670b7a5.308128","f88d9435.30f958","cf84300b.eb372","fd0d6e1.775199","745c716b.31cb4","e515c7bd.0ac768","d8c565cd.4b79a8","87144f6.3ddf1b","db61e181.f9cca","30df8208.63615e","cf9323c5.ec56b","3646d964.f5cc76","f1348247.ee5c1","909c284f.a2b348","fa1369a7.3b2848","a629ceb2.74de4","bccf1f5a.686ae","7f586de8.2d28b4","c5298287.49997","fcd63b19.8a0318","65462c14.87a354","73d11ab4.172874","e5aae0af.fac64","2d0f21e3.0e8dee","c3a46ba0.38fbf8","a8785be5.8c0758","60bfdd65.842ef4","97a26525.8d1798","93be4100.4f64e","626c5854.35cdf8","ca4b8354.a0491","2d428483.89cbcc","a6884e4a.41c6b","d410d51e.5d7bc8","4a28ef7d.74e39","d43765c0.52b5c8","fc950b87.e25978","e713e58f.1eeae8","5b322bbd.8d7354","7fcd63e7.d50d9c","d0b8492b.04e1c8","6ae956ac.aa0628"]]},{"id":"33093c7c.c6b644","type":"ui_text","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","group":"37460e3a.9bc152","order":2,"width":0,"height":0,"name":"","label":"Time Stamp","format":"{{msg.payload}}","layout":"row-spread","x":1710,"y":2560,"wires":[]},{"id":"212af1a7.ed23ce","type":"function","z":"fba125c9.c7b7a8","g":"3ad090b.3b28c7","name":"","func":"var dt = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nvar hour = \"0\" + dt.getHours();\nvar min = \"0\" + dt.getMinutes();\nvar sec = \"0\" + dt.getSeconds();\nvar day = dt.getDate();\nvar month = dt.getMonth() + 1;\nvar year = dt.getFullYear();\nmsg2 = msg;\nmsg2.payload = hour.substr(-2) + \":\" + min.substr(-2) + \":\" + sec.substr(-2) + \" \" + day + \"/\" + month + \"/\" + year;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":2560,"wires":[["33093c7c.c6b644"]]},{"id":"90aad305.8184b","type":"ui_text","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","group":"39961720.e2af88","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":2050,"y":2560,"wires":[]},{"id":"7631644f.28986c","type":"function","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","name":"","func":"switch (msg.payload.ComponentStatus.PconMode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":2560,"wires":[["90aad305.8184b"]]},{"id":"28339821.e1a7c8","type":"ui_led","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","order":1,"group":"39961720.e2af88","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2050,"y":2600,"wires":[]},{"id":"1c3589a6.f85c16","type":"function","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","name":"","func":"if (msg.payload.ComponentStatus.PconFault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.PconRun == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":2600,"wires":[["28339821.e1a7c8"]]},{"id":"2715c267.4a6cfe","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","name":"","group":"39961720.e2af88","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"RPM","format":"{{value | number:0}}","min":0,"max":"1485","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1250","seg2":"1400","x":2050,"y":2640,"wires":[]},{"id":"9e9bcaf1.6b8268","type":"function","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","name":"","func":"msg.payload = msg.payload.ComponentStatus.PconVal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":2640,"wires":[["2715c267.4a6cfe"]]},{"id":"43a7548f.2c7b3c","type":"ui_text","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","group":"39961720.e2af88","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2060,"y":2680,"wires":[]},{"id":"76afc2ca.3c169c","type":"function","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","name":"","func":"var t = msg.payload.ComponentStatus.PconTime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":2680,"wires":[["43a7548f.2c7b3c"]]},{"id":"f97c20e9.79b97","type":"ui_text","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","group":"39961720.e2af88","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2080,"y":2720,"wires":[]},{"id":"bd8818f0.77bc98","type":"function","z":"fba125c9.c7b7a8","g":"1fc4fe99.8821d1","name":"","func":"var t = msg.payload.ComponentStatus.PconAtime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":2720,"wires":[["f97c20e9.79b97"]]},{"id":"a7d1b0f2.85303","type":"ui_text","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","group":"44856f4a.fffa1","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":2490,"y":2600,"wires":[]},{"id":"81c15cac.1c59d","type":"function","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","name":"","func":"switch (msg.payload.ComponentStatus.PsupMode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":2600,"wires":[["a7d1b0f2.85303"]]},{"id":"d44e85e4.e8a698","type":"ui_led","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","order":1,"group":"44856f4a.fffa1","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2490,"y":2640,"wires":[]},{"id":"e90ebb79.1982c8","type":"function","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","name":"","func":"if (msg.payload.ComponentStatus.PsupFault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.PsupRun == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":2640,"wires":[["d44e85e4.e8a698"]]},{"id":"5c7ac4c3.194ebc","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","name":"","group":"44856f4a.fffa1","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"RPM","format":"{{value | number:0}}","min":0,"max":"1485","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1250","seg2":"1400","x":2490,"y":2680,"wires":[]},{"id":"bdab9412.01b668","type":"function","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","name":"","func":"msg.payload = msg.payload.ComponentStatus.PsupVal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":2680,"wires":[["5c7ac4c3.194ebc"]]},{"id":"cdf44258.7cd05","type":"ui_text","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","group":"44856f4a.fffa1","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2500,"y":2720,"wires":[]},{"id":"7548600a.b9d45","type":"function","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","name":"","func":"var t = msg.payload.ComponentStatus.PsupTime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":2720,"wires":[["cdf44258.7cd05"]]},{"id":"9816da41.bd31c8","type":"ui_text","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","group":"44856f4a.fffa1","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2520,"y":2760,"wires":[]},{"id":"6cf18d03.f191f4","type":"function","z":"fba125c9.c7b7a8","g":"ed013e27.3c216","name":"","func":"var t = msg.payload.ComponentStatus.PsupAtime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":2760,"wires":[["9816da41.bd31c8"]]},{"id":"d933becf.73139","type":"ui_text","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","group":"3fa01a6b.d6a136","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":2910,"y":2600,"wires":[]},{"id":"2595deed.508242","type":"function","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","name":"","func":"switch (msg.payload.ComponentStatus.PcirMode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2600,"wires":[["d933becf.73139"]]},{"id":"dbb2544e.4ce208","type":"ui_led","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","order":1,"group":"3fa01a6b.d6a136","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2910,"y":2640,"wires":[]},{"id":"83ce98fc.4f0c58","type":"function","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","name":"","func":"if (msg.payload.ComponentStatus.PcirFault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.PcirRun == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2640,"wires":[["dbb2544e.4ce208"]]},{"id":"48bbfe22.45811","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","name":"","group":"3fa01a6b.d6a136","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"RPM","format":"{{value | number:0}}","min":0,"max":"1485","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1250","seg2":"1400","x":2910,"y":2680,"wires":[]},{"id":"3556d3fd.124a3c","type":"function","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","name":"","func":"msg.payload = msg.payload.ComponentStatus.PcirVal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2680,"wires":[["48bbfe22.45811"]]},{"id":"11b50ed9.9e86e1","type":"ui_text","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","group":"3fa01a6b.d6a136","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2920,"y":2720,"wires":[]},{"id":"f670b7a5.308128","type":"function","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","name":"","func":"var t = msg.payload.ComponentStatus.PcirTime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2720,"wires":[["11b50ed9.9e86e1"]]},{"id":"146991e8.444cee","type":"ui_text","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","group":"3fa01a6b.d6a136","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2940,"y":2760,"wires":[]},{"id":"f88d9435.30f958","type":"function","z":"fba125c9.c7b7a8","g":"e1833377.d5f95","name":"","func":"var t = msg.payload.ComponentStatus.PcirAtime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2760,"y":2760,"wires":[["146991e8.444cee"]]},{"id":"664f3e15.26a6d","type":"ui_text","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","group":"9ee45f57.f5a48","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":3350,"y":2840,"wires":[]},{"id":"cf84300b.eb372","type":"function","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","name":"","func":"switch (msg.payload.ComponentStatus.F1Mode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2840,"wires":[["664f3e15.26a6d"]]},{"id":"b0174834.080ea8","type":"ui_led","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","order":1,"group":"9ee45f57.f5a48","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":3350,"y":2880,"wires":[]},{"id":"fd0d6e1.775199","type":"function","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","name":"","func":"if (msg.payload.ComponentStatus.F1Fault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.F1Run == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2880,"wires":[["b0174834.080ea8"]]},{"id":"cedfd4e2.614bc8","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","name":"","group":"9ee45f57.f5a48","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"RPM","format":"{{value | number:0}}","min":0,"max":"1485","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1250","seg2":"1400","x":3350,"y":2920,"wires":[]},{"id":"745c716b.31cb4","type":"function","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","name":"","func":"msg.payload = msg.payload.ComponentStatus.F1Val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2920,"wires":[["cedfd4e2.614bc8"]]},{"id":"4f3e45ec.2c3c2c","type":"ui_text","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","group":"9ee45f57.f5a48","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":3360,"y":2960,"wires":[]},{"id":"e515c7bd.0ac768","type":"function","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","name":"","func":"var t = msg.payload.ComponentStatus.F1Time;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2960,"wires":[["4f3e45ec.2c3c2c"]]},{"id":"db42a2e2.f7a89","type":"ui_text","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","group":"9ee45f57.f5a48","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":3380,"y":3000,"wires":[]},{"id":"d8c565cd.4b79a8","type":"function","z":"fba125c9.c7b7a8","g":"f3ffcf56.b976e","name":"","func":"var t = msg.payload.ComponentStatus.F1Atime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":3000,"wires":[["db42a2e2.f7a89"]]},{"id":"e3f8c770.713af8","type":"ui_text","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","group":"669dff87.cdd0c","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":3370,"y":3100,"wires":[]},{"id":"87144f6.3ddf1b","type":"function","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","name":"","func":"switch (msg.payload.ComponentStatus.F2Mode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3220,"y":3100,"wires":[["e3f8c770.713af8"]]},{"id":"13fa3ff1.d3992","type":"ui_led","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","order":1,"group":"669dff87.cdd0c","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":3370,"y":3140,"wires":[]},{"id":"db61e181.f9cca","type":"function","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","name":"","func":"if (msg.payload.ComponentStatus.F2Fault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.F2Run == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3220,"y":3140,"wires":[["13fa3ff1.d3992"]]},{"id":"e8745a41.f74c38","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","name":"","group":"669dff87.cdd0c","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"RPM","format":"{{value | number:0}}","min":0,"max":"1485","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1250","seg2":"1400","x":3370,"y":3180,"wires":[]},{"id":"30df8208.63615e","type":"function","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","name":"","func":"msg.payload = msg.payload.ComponentStatus.F2Val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3220,"y":3180,"wires":[["e8745a41.f74c38"]]},{"id":"1d91438b.585ddc","type":"ui_text","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","group":"669dff87.cdd0c","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":3380,"y":3220,"wires":[]},{"id":"cf9323c5.ec56b","type":"function","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","name":"","func":"var t = msg.payload.ComponentStatus.F2Time;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3220,"y":3220,"wires":[["1d91438b.585ddc"]]},{"id":"4bc3b134.37ace","type":"ui_text","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","group":"669dff87.cdd0c","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":3400,"y":3260,"wires":[]},{"id":"3646d964.f5cc76","type":"function","z":"fba125c9.c7b7a8","g":"7ddb1176.0d28d","name":"","func":"var t = msg.payload.ComponentStatus.F2Atime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3220,"y":3260,"wires":[["4bc3b134.37ace"]]},{"id":"a6138756.638aa8","type":"ui_text","z":"fba125c9.c7b7a8","g":"cc943256.65a29","group":"f94654ce.f6f718","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":2950,"y":3260,"wires":[]},{"id":"f1348247.ee5c1","type":"function","z":"fba125c9.c7b7a8","g":"cc943256.65a29","name":"","func":"switch (msg.payload.ComponentStatus.F3Mode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":3260,"wires":[["a6138756.638aa8"]]},{"id":"46315622.e6bfd8","type":"ui_led","z":"fba125c9.c7b7a8","g":"cc943256.65a29","order":1,"group":"f94654ce.f6f718","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2950,"y":3300,"wires":[]},{"id":"909c284f.a2b348","type":"function","z":"fba125c9.c7b7a8","g":"cc943256.65a29","name":"","func":"if (msg.payload.ComponentStatus.F3Fault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.F3Run == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":3300,"wires":[["46315622.e6bfd8"]]},{"id":"b915c8df.b8a5b8","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"cc943256.65a29","name":"","group":"f94654ce.f6f718","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"RPM","format":"{{value | number:0}}","min":0,"max":"1485","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1250","seg2":"1400","x":2950,"y":3340,"wires":[]},{"id":"fa1369a7.3b2848","type":"function","z":"fba125c9.c7b7a8","g":"cc943256.65a29","name":"","func":"msg.payload = msg.payload.ComponentStatus.F3Val;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":3340,"wires":[["b915c8df.b8a5b8"]]},{"id":"5375c8d.5e81338","type":"ui_text","z":"fba125c9.c7b7a8","g":"cc943256.65a29","group":"f94654ce.f6f718","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2960,"y":3380,"wires":[]},{"id":"a629ceb2.74de4","type":"function","z":"fba125c9.c7b7a8","g":"cc943256.65a29","name":"","func":"var t = msg.payload.ComponentStatus.F3Time;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":3380,"wires":[["5375c8d.5e81338"]]},{"id":"b7f4442a.1d1b18","type":"ui_text","z":"fba125c9.c7b7a8","g":"cc943256.65a29","group":"f94654ce.f6f718","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2980,"y":3420,"wires":[]},{"id":"bccf1f5a.686ae","type":"function","z":"fba125c9.c7b7a8","g":"cc943256.65a29","name":"","func":"var t = msg.payload.ComponentStatus.F3Atime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":3420,"wires":[["b7f4442a.1d1b18"]]},{"id":"3f554799.5351f8","type":"ui_text","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","group":"5061c631.3b4ef8","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":2550,"y":3380,"wires":[]},{"id":"7f586de8.2d28b4","type":"function","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","name":"","func":"switch (msg.payload.ComponentStatus.VlphMode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":3380,"wires":[["3f554799.5351f8"]]},{"id":"f9f6cd73.fd975","type":"ui_led","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","order":1,"group":"5061c631.3b4ef8","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2550,"y":3420,"wires":[]},{"id":"c5298287.49997","type":"function","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","name":"","func":"if (msg.payload.ComponentStatus.VlphFault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.VlphRun == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":3420,"wires":[["f9f6cd73.fd975"]]},{"id":"b53ced14.123c8","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","name":"","group":"5061c631.3b4ef8","order":2,"width":0,"height":0,"gtype":"donut","title":"Opened","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"85","seg2":"95","x":2560,"y":3460,"wires":[]},{"id":"fcd63b19.8a0318","type":"function","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","name":"","func":"msg.payload = msg.payload.ComponentStatus.VlphVal*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":3460,"wires":[["b53ced14.123c8"]]},{"id":"906655b3.88e888","type":"ui_text","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","group":"5061c631.3b4ef8","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2560,"y":3500,"wires":[]},{"id":"65462c14.87a354","type":"function","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","name":"","func":"var t = msg.payload.ComponentStatus.VlphTime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":3500,"wires":[["906655b3.88e888"]]},{"id":"4f525f75.95665","type":"ui_text","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","group":"5061c631.3b4ef8","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2580,"y":3540,"wires":[]},{"id":"73d11ab4.172874","type":"function","z":"fba125c9.c7b7a8","g":"6ecf37c8.9be168","name":"","func":"var t = msg.payload.ComponentStatus.VlphAtime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":3540,"wires":[["4f525f75.95665"]]},{"id":"3f134d95.3f11e2","type":"ui_text","z":"fba125c9.c7b7a8","g":"90f92842.865478","group":"47895742.49f2a8","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":2150,"y":3460,"wires":[]},{"id":"e5aae0af.fac64","type":"function","z":"fba125c9.c7b7a8","g":"90f92842.865478","name":"","func":"switch (msg.payload.ComponentStatus.VdeaMode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3460,"wires":[["3f134d95.3f11e2"]]},{"id":"39b861c6.c98ace","type":"ui_led","z":"fba125c9.c7b7a8","g":"90f92842.865478","order":1,"group":"47895742.49f2a8","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2150,"y":3500,"wires":[]},{"id":"2d0f21e3.0e8dee","type":"function","z":"fba125c9.c7b7a8","g":"90f92842.865478","name":"","func":"if (msg.payload.ComponentStatus.VdeaFault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.VdeaRun == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3500,"wires":[["39b861c6.c98ace"]]},{"id":"21551c6c.a35714","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"90f92842.865478","name":"","group":"47895742.49f2a8","order":2,"width":0,"height":0,"gtype":"donut","title":"Opened","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"85","seg2":"95","x":2160,"y":3540,"wires":[]},{"id":"c3a46ba0.38fbf8","type":"function","z":"fba125c9.c7b7a8","g":"90f92842.865478","name":"","func":"msg.payload = msg.payload.ComponentStatus.VdeaVal*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3540,"wires":[["21551c6c.a35714"]]},{"id":"994622f7.d5027","type":"ui_text","z":"fba125c9.c7b7a8","g":"90f92842.865478","group":"47895742.49f2a8","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2160,"y":3580,"wires":[]},{"id":"a8785be5.8c0758","type":"function","z":"fba125c9.c7b7a8","g":"90f92842.865478","name":"","func":"var t = msg.payload.ComponentStatus.VdeaTime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3580,"wires":[["994622f7.d5027"]]},{"id":"7ab59897.9d3cc8","type":"ui_text","z":"fba125c9.c7b7a8","g":"90f92842.865478","group":"47895742.49f2a8","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2180,"y":3620,"wires":[]},{"id":"60bfdd65.842ef4","type":"function","z":"fba125c9.c7b7a8","g":"90f92842.865478","name":"","func":"var t = msg.payload.ComponentStatus.VdeaAtime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3620,"wires":[["7ab59897.9d3cc8"]]},{"id":"d5466957.b128d8","type":"ui_text","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","group":"b36ef2a3.81188","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":2150,"y":3740,"wires":[]},{"id":"97a26525.8d1798","type":"function","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","name":"","func":"switch (msg.payload.ComponentStatus.VhphMode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3740,"wires":[["d5466957.b128d8"]]},{"id":"7bedc272.97f0dc","type":"ui_led","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","order":1,"group":"b36ef2a3.81188","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2150,"y":3780,"wires":[]},{"id":"93be4100.4f64e","type":"function","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","name":"","func":"if (msg.payload.ComponentStatus.VhphFault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.VhphRun == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3780,"wires":[["7bedc272.97f0dc"]]},{"id":"d81e2060.c38fa","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","name":"","group":"b36ef2a3.81188","order":2,"width":0,"height":0,"gtype":"donut","title":"Opened","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"85","seg2":"95","x":2160,"y":3820,"wires":[]},{"id":"626c5854.35cdf8","type":"function","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","name":"","func":"msg.payload = msg.payload.ComponentStatus.VhphVal*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3820,"wires":[["d81e2060.c38fa"]]},{"id":"212a171.bef61e8","type":"ui_text","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","group":"b36ef2a3.81188","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2160,"y":3860,"wires":[]},{"id":"ca4b8354.a0491","type":"function","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","name":"","func":"var t = msg.payload.ComponentStatus.VhphTime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3860,"wires":[["212a171.bef61e8"]]},{"id":"a652b6dc.718f08","type":"ui_text","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","group":"b36ef2a3.81188","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":2180,"y":3900,"wires":[]},{"id":"2d428483.89cbcc","type":"function","z":"fba125c9.c7b7a8","g":"7ef0a9c.f339858","name":"","func":"var t = msg.payload.ComponentStatus.VhphAtime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":3900,"wires":[["a652b6dc.718f08"]]},{"id":"633537f.ae536c8","type":"ui_text","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","group":"321a8fcb.672c2","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":1750,"y":3740,"wires":[]},{"id":"a6884e4a.41c6b","type":"function","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","name":"","func":"switch (msg.payload.ComponentStatus.VturMode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":3740,"wires":[["633537f.ae536c8"]]},{"id":"fd8070ba.78fb8","type":"ui_led","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","order":1,"group":"321a8fcb.672c2","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1750,"y":3780,"wires":[]},{"id":"d410d51e.5d7bc8","type":"function","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","name":"","func":"if (msg.payload.ComponentStatus.VturFault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.VturRun == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":3780,"wires":[["fd8070ba.78fb8"]]},{"id":"2067c614.ce86ca","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","name":"","group":"321a8fcb.672c2","order":2,"width":0,"height":0,"gtype":"donut","title":"Opened","label":"%","format":"{{value | number:0}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"85","seg2":"95","x":1760,"y":3820,"wires":[]},{"id":"4a28ef7d.74e39","type":"function","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","name":"","func":"msg.payload = msg.payload.ComponentStatus.VturVal*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":3820,"wires":[["2067c614.ce86ca"]]},{"id":"7e0ce629.09e7f8","type":"ui_text","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","group":"321a8fcb.672c2","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":1760,"y":3860,"wires":[]},{"id":"d43765c0.52b5c8","type":"function","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","name":"","func":"var t = msg.payload.ComponentStatus.VturTime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":3860,"wires":[["7e0ce629.09e7f8"]]},{"id":"eb4d0683.025378","type":"ui_text","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","group":"321a8fcb.672c2","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":1780,"y":3900,"wires":[]},{"id":"fc950b87.e25978","type":"function","z":"fba125c9.c7b7a8","g":"954f0524.74ad28","name":"","func":"var t = msg.payload.ComponentStatus.VturAtime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":3900,"wires":[["eb4d0683.025378"]]},{"id":"ee6e2f23.511b1","type":"csv","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\r\\n","temp":"Timestamp, PconMode,PconRun,PconVal,PconTime,PconAtime,PconFault,PsupMode ,PsupRun,PsupVal,PsupTime,PsupAtime,PsupFault,PcirMode ,PcirRun,PcirVal,PcirTime,PcirAtime,PcirFault,PintMode ,PintRun,PintVal,PintTime,PintAtime,PintFault,F1Mode ,F1Run,F1Val,F1Time,F1Atime,F1Fault,F2Mode ,F2Run,F2Val,F2Time,F2Atime,F2Fault,F3Mode ,F3Run,F3Val,F3Time,F3Atime,F3Fault,VlphMode ,VlphRun,VlphVal,VlphTime,VlphAtime,VlphFault,VdeaMode ,VdeaRun,VdeaVal,VdeaTime,VdeaAtime,VdeaFault,VhphMode ,VhphRun,VhphVal,VhphTime,VhphAtime,VhphFault,VturMode ,VturRun,VturVal,VturTime,VturAtime,VturFault","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":810,"y":1400,"wires":[["4e7978f2.edcdd8"]]},{"id":"b9e77ef4.097fa","type":"join","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":1340,"wires":[["e1f00e44.0b89d","ee6e2f23.511b1"]]},{"id":"79e1ac5d.57cb14","type":"file","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","filename":"C:\\nrpub\\files\\b.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":1400,"wires":[[]]},{"id":"e1f00e44.0b89d","type":"function","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","func":"msg.payload = 'sep=,'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1340,"wires":[["d6974e9d.36aa1"]]},{"id":"d6974e9d.36aa1","type":"file","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","filename":"C:\\nrpub\\files\\b.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1170,"y":1340,"wires":[[]]},{"id":"4e7978f2.edcdd8","type":"delay","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":1400,"wires":[["79e1ac5d.57cb14"]]},{"id":"ec7854e9.3fe568","type":"function","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","func":"var time = msg.payload.Timestamp;\nmsg.payload = msg.payload.ComponentStatus;\nmsg.payload.Timestamp = time;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1260,"wires":[["b9e77ef4.097fa"]]},{"id":"11ce662d.a7ae7a","type":"ui_template","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","group":"6f61f81c.7e1978","name":"Export compdata","order":1,"width":0,"height":0,"format":"<div style=\"display:flex; justify-content: center; \">\n    <button id=\"meo\" onclick=\"location.href='http://localhost:1880/files/b.csv'\" type=\"button\"\n            style=\"width:100%; background:#3700b3; color:#ffffff; border:none; height:40px;\">\n         EXPORT CSV</button>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":890,"y":900,"wires":[[]]},{"id":"a2cb919d.d5a9d","type":"ui_text","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","group":"cbac551.29e2fa8","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":3350,"y":2580,"wires":[]},{"id":"e713e58f.1eeae8","type":"function","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","name":"","func":"switch (msg.payload.ComponentStatus.PintMode)\n{\n    case 0:\n        msg.payload = 'Manual';\n        break;\n    case 1:\n        msg.payload = 'Automatic';\n        break;   \n    case 2:\n        msg.payload = 'Service';\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2580,"wires":[["a2cb919d.d5a9d"]]},{"id":"6255de4f.b8bb3","type":"ui_led","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","order":1,"group":"cbac551.29e2fa8","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":3350,"y":2620,"wires":[]},{"id":"5b322bbd.8d7354","type":"function","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","name":"","func":"if (msg.payload.ComponentStatus.PintFault == true)\n{\n    msg.payload = false;\n}\nelse if (msg.payload.ComponentStatus.PintRun == true)\n{\n    msg.payload = true;\n}\nelse \n{\n    msg.payload == null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2620,"wires":[["6255de4f.b8bb3"]]},{"id":"d75563dc.8dbfb","type":"ui_gauge","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","name":"","group":"cbac551.29e2fa8","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"RPM","format":"{{value | number:0}}","min":0,"max":"1485","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1250","seg2":"1400","x":3350,"y":2660,"wires":[]},{"id":"7fcd63e7.d50d9c","type":"function","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","name":"","func":"msg.payload = msg.payload.ComponentStatus.PintVal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2660,"wires":[["d75563dc.8dbfb"]]},{"id":"3a1fc525.d502ca","type":"ui_text","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","group":"cbac551.29e2fa8","order":3,"width":0,"height":0,"name":"","label":"Runtime","format":"{{msg.payload}}","layout":"row-spread","x":3360,"y":2700,"wires":[]},{"id":"d0b8492b.04e1c8","type":"function","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","name":"","func":"var t = msg.payload.ComponentStatus.PintTime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2700,"wires":[["3a1fc525.d502ca"]]},{"id":"ec5b760e.0cc348","type":"ui_text","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","group":"cbac551.29e2fa8","order":3,"width":0,"height":0,"name":"","label":"Acc. Runtime","format":"{{msg.payload}}","layout":"row-spread","x":3380,"y":2740,"wires":[]},{"id":"6ae956ac.aa0628","type":"function","z":"fba125c9.c7b7a8","g":"b45430ed.cd3bd","name":"","func":"var t = msg.payload.ComponentStatus.PintAtime;\nvar hour = Math.floor(t/3600);\nvar min = Math.floor((t - hour*3600)/60);\nvar sec = t - hour*3600 - min*60;\n\nmsg.payload = hour + \":\" + (\"0\" + min).substr(-2) + \":\" + (\"0\" + sec).substr(-2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":2740,"wires":[["ec5b760e.0cc348"]]}]