flows.json
[{"id":"fba125c9.c7b7a8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"49bdb348.502aac","type":"group","z":"fba125c9.c7b7a8","name":"Tab Process","style":{"label":true},"nodes":["8188547c.5691d8","f56cb9c5.30eaf8","63286668.ccb6a8","37783fc2.6c3cb","971e7fa2.ba78b","acce86f6.5a7aa8","cc53b880.15f6b8","dadcc4c7.90c888","eb0ec43f.278538","f30cc0b4.232fb"],"x":1414,"y":33,"w":1518,"h":1194},{"id":"69024864.870ec8","type":"group","z":"fba125c9.c7b7a8","name":"Tab Realtime Trend","style":{"label":true},"nodes":["6fa3645c.8be62c","8245cd58.8b53","fd8ed304.8a13e","bffbcb73.77e1e8","b85bb194.2fc3","6964874b.4eafb8","7eacf09d.b662b","d5f784d9.c27798","12db5dd9.66d542","d3b61a29.618b58","cad08017.b07e4","26bbf2fd.f8397e","70986cf0.166294","7d5976d1.0a7818","31100972.fab8c6","69e50b40.33ab54","788b2841.8381a8","36700fe8.0a64e","8f17ccad.a086b","4f68f5ec.cf6b6c","38c439f2.3dfcf6","cb194ca4.d7552","86d8c6f0.bb3208","1edc450e.f2d73b","120b6515.0d4a6b","531364c0.35722c","e9b6a951.735a18","f058fcdf.ffbde","9596d4aa.1fbc78","38ce31cd.bbe2ae","75c828e1.aadfa8","735ec0e.8e4264","f885466f.efa2a8"],"x":2174,"y":1399,"w":632,"h":1122},{"id":"752c8b6a.bb1a34","type":"group","z":"fba125c9.c7b7a8","name":"Set range Historical Trend","style":{"label":true},"nodes":["970ef9d.4520208","3d78d396.7ed65c","937e572.25e2ba8","6fe6698e.fad728","88123510.ee5078","4c473c26.78bdb4","5d57a2c3.b7537c","8a6dd747.cddb38","e17b0f79.2a696","bb17110a.95252","be21a312.79366","ec9fb92b.543ac8","87f83094.5f151","3c0e29ee.6a3d16","cb314931.721708"],"x":94,"y":399,"w":762,"h":402},{"id":"11ba48b.1e3a8b7","type":"group","z":"fba125c9.c7b7a8","name":"Tab Historical Trend","style":{"label":true},"nodes":["169b2897.4ac227","380f9395.5a787c","bc646732.801f88","8c713266.c2379","b22baf9e.55bdc","7e1f119a.b6938","11790ab3.07f3a5","ed728504.3be0a8","986a1cc9.2b706","b37e7d8d.1a3f5","ac1b044.a0c78f8","52c679d7.a10b08","75d3265c.33b488","9056056e.f63cd8","6c13710a.e98f2","217075e.3d39f8a","eeb54d01.73635","85d9b8.72f01648","d612f851.6db5b8","4d202d38.21af24","4071a5b7.46090c","b0559249.17184","49a73f14.4372c","fbe831b4.fb8df","bbd6c813.776888","9e9e01bd.a3125","dc5197f2.564818","3fe1d6fb.1ce1ea","8f2fd0d9.b0903","8fce3c7e.70f5f","d4198a74.ce1968","95795f53.e8789","f2961367.fb379","4a4bdc5b.fefb64","7a07bd86.3a55c4","abc4aabf.eed198","18bd9645.a4eb0a","98ca4584.e2b068","1566052b.0dc7db","9446b234.4121e","bb30e874.650ec8","c9fecfcd.47056","7f80343e.6802ac","2c5e3cd4.efec64","b6fe01ca.89438","6d02d39.d9ea82c","5a24b5d4.bb5dac","d8abb927.874758","7502b4d9.8901ac","6fd43b85.8aed24","6096acf5.1fc704","b3283979.222b28","77e768be.75c048","5702f3ed.24704c","6ae8f294.b00a4c","249da433.cad99c","6973624e.a2b44c","273f40d6.7c014","daeff329.6cfd4","75c4ed10.b27b74","c6272ed2.52a79","b9a93814.db9ae8","5ef6d233.3afeac","259797dd.24a058","52617e52.adaa8","6a30783c.232438","c83cafe1.132ec","3870f735.c072b8","48b7c572.af134c","826eabe5.d0d4f8","a19eecd6.ee2f2"],"x":1094,"y":1399,"w":1032,"h":1122},{"id":"ee625b2c.c3b8f8","type":"group","z":"fba125c9.c7b7a8","name":"Set range Report","style":{"label":true},"nodes":["6ab9fea5.da1bb","fda640f2.fda7d","815a5d36.54af5","c68ac674.d1e6c8","73deba68.a82724","1586a142.8f892f","e604f900.d39d08","fb3e8611.7e10c8","b7843b55.c51188","514fbc3c.98fe54","3909a9c0.4bb196","5755447e.cf765c","2c28b485.bcb43c","42063ae.aac45c4","b53a6daa.99195","1b20dc32.c72ff4","bb45568.6fa4ba8","8be2509b.83c0d","a8c2985e.d23ad8"],"x":94,"y":859,"w":952,"h":382},{"id":"cc53b880.15f6b8","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Furnace","style":{"label":true},"nodes":["5e0d84f5.8c014c","2443c8e7.777b28"],"x":1774,"y":59,"w":252,"h":122},{"id":"acce86f6.5a7aa8","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Low Pressure Heater","style":{"label":true},"nodes":["3d0c2cad.75d4e4","2a393f2c.f55e2","6081ac68.3b3744","5878004f.4ac65","1a56651.fa19e9b"],"x":2054,"y":59,"w":252,"h":242},{"id":"dadcc4c7.90c888","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Dearator","style":{"label":true},"nodes":["57c1dc0d.560aa4","e7fa9c67.1375d","a6ae696b.5f5658","fa1ec176.9a0b3"],"x":2374,"y":139,"w":252,"h":202},{"id":"37783fc2.6c3cb","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"High Temperature Heater","style":{"label":true},"nodes":["ad6abee6.618","cee1b131.f40c7","6580020c.b0f84c","d4b288ff.d22a48","cc9906fb.8b1038"],"x":2654,"y":239,"w":252,"h":242},{"id":"eb0ec43f.278538","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Boiler","style":{"label":true},"nodes":["a65fea6c.12f968","1f04a24.396125e","20da190f.cafb06","64e76e8c.3573"],"x":2454,"y":479,"w":252,"h":202},{"id":"971e7fa2.ba78b","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Condenser","style":{"label":true},"nodes":["93928c37.a08a5","735ef26d.6619fc","f5462a2b.1f01e8","7d3c1bf6.cbc4e4","e983b54.04cf848"],"x":2234,"y":639,"w":252,"h":242},{"id":"f30cc0b4.232fb","type":"group","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"Turbine","style":{"label":true},"nodes":["8b8c5ab3.a280a8","32c6ce74.215d92","41121dd2.00b354","679c576d.3f2b28","6d520efc.2867","5e07d8aa.3500a8","c7d657e9.3f59a8","39d33340.cc0e7c","c8707c6d.225f1"],"x":1934,"y":799,"w":252,"h":402},{"id":"1c4d5eac.35f011","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#3700b3","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#3700b3","edited":true},"page-titlebar-backgroundColor":{"value":"#3700b3","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#4f00ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#3700b3","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Thermoelectricity Process Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf9f0266.301a5","type":"ui_tab","name":"Process","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fb31d927.bbb488","type":"ui_group","name":"General","tab":"bf9f0266.301a5","order":1,"disp":true,"width":"6","collapse":true},{"id":"b690de84.2f18e","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"8883","tls":"7970ee4c.28d3e","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"71120a34.5faec4","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"test","name":""},{"id":"7970ee4c.28d3e","type":"tls-config","name":"","cert":"","key":"","ca":"C:\\Program Files\\mosquitto\\certs\\rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"62a36f42.7f6a2","type":"ui_group","name":"Furnace","tab":"bf9f0266.301a5","order":2,"disp":true,"width":"6","collapse":true},{"id":"35f2505f.671fd","type":"ui_group","name":"Low Pressure Heater","tab":"bf9f0266.301a5","order":3,"disp":true,"width":"6","collapse":true},{"id":"fcb8e0ac.da0c9","type":"ui_group","name":"Deaerator","tab":"bf9f0266.301a5","order":4,"disp":true,"width":"6","collapse":true},{"id":"ea5c497f.3b1858","type":"ui_group","name":"High Pressure Heater","tab":"bf9f0266.301a5","order":5,"disp":true,"width":"6","collapse":true},{"id":"5a751afc.19d614","type":"ui_group","name":"Boiler","tab":"bf9f0266.301a5","order":6,"disp":true,"width":"6","collapse":true},{"id":"33fe3307.9b563c","type":"ui_group","name":"Condenser","tab":"bf9f0266.301a5","order":7,"disp":true,"width":"6","collapse":true},{"id":"f1246a2a.0063b8","type":"ui_group","name":"Turbine","tab":"bf9f0266.301a5","order":8,"disp":true,"width":"6","collapse":true},{"id":"3d60225f.9f1a6e","type":"ui_tab","name":"Realtime Trend","icon":"fa-line-chart","order":2,"disabled":false,"hidden":false},{"id":"15e6e67f.96ccfa","type":"ui_group","name":"Zone 1","tab":"3d60225f.9f1a6e","order":1,"disp":true,"width":"12","collapse":true},{"id":"b3c9fc37.19662","type":"ui_group","name":"Zone 2","tab":"3d60225f.9f1a6e","order":2,"disp":true,"width":"12","collapse":true},{"id":"37283e2a.af9ff2","type":"ui_group","name":"Zone 3","tab":"3d60225f.9f1a6e","order":3,"disp":true,"width":12,"collapse":true},{"id":"a17f046a.f37218","type":"ui_group","name":"Zone 4","tab":"3d60225f.9f1a6e","order":4,"disp":true,"width":12,"collapse":true},{"id":"d3c49310.14468","type":"ui_tab","name":"Historical Trend","icon":"fa-history","order":3,"disabled":false,"hidden":false},{"id":"7dc65eaf.5a677","type":"ui_group","name":"Zone 1","tab":"d3c49310.14468","order":2,"disp":true,"width":12,"collapse":true},{"id":"bd49e8bd.1b38d8","type":"ui_group","name":"Settings","tab":"d3c49310.14468","order":1,"disp":true,"width":"12","collapse":true},{"id":"9c66415.50bbe4","type":"ui_group","name":"Filters","tab":"","order":2,"disp":true,"width":"24","collapse":false},{"id":"6a1a44e5.5b1cbc","type":"ui_group","name":"Zone 2","tab":"d3c49310.14468","order":3,"disp":true,"width":12,"collapse":true},{"id":"1fb9445.b605abc","type":"ui_group","name":"Zone 3","tab":"d3c49310.14468","order":4,"disp":true,"width":12,"collapse":true},{"id":"f53ea45d.2bbb98","type":"ui_group","name":"Zone 4","tab":"d3c49310.14468","order":5,"disp":true,"width":12,"collapse":true},{"id":"9b39cd17.020e9","type":"ui_spacer","name":"spacer","group":"bd49e8bd.1b38d8","order":5,"width":3,"height":1},{"id":"75ff45f6.f00d1c","type":"ui_spacer","name":"spacer","group":"bd49e8bd.1b38d8","order":7,"width":3,"height":1},{"id":"9779d7ea.5ecda8","type":"ui_tab","name":"Report","icon":"fa-file-text","order":4,"disabled":false,"hidden":false},{"id":"dabdd43.caf0828","type":"ui_group","name":"Settings","tab":"9779d7ea.5ecda8","order":1,"disp":true,"width":12,"collapse":true},{"id":"eebc7528.5ac558","type":"ui_group","name":"Export Process Data","tab":"9779d7ea.5ecda8","order":2,"disp":true,"width":"6","collapse":true},{"id":"dfb4a60f.d788f8","type":"ui_group","name":"Data Export","tab":"","order":1,"disp":true,"width":"12"},{"id":"28b43f8b.27ea9","type":"ui_spacer","name":"spacer","group":"dabdd43.caf0828","order":5,"width":4,"height":1},{"id":"1663c5f8.496f1a","type":"ui_spacer","name":"spacer","group":"dabdd43.caf0828","order":7,"width":4,"height":1},{"id":"5c846e8f.8bab1","type":"mqtt in","z":"fba125c9.c7b7a8","name":"MyMqtt","topic":"IPC/ProcessData","qos":"0","datatype":"utf8","broker":"b690de84.2f18e","nl":false,"rap":true,"rh":0,"x":150,"y":140,"wires":[["6aea6333.58377c"]]},{"id":"85a70740.b60518","type":"mongodb out","z":"fba125c9.c7b7a8","mongodb":"71120a34.5faec4","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"store","x":670,"y":200,"wires":[]},{"id":"6aea6333.58377c","type":"function","z":"fba125c9.c7b7a8","name":"","func":"let str = msg.payload.slice(0, -1); \nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":140,"wires":[["e48d00e.7099"]]},{"id":"e48d00e.7099","type":"json","z":"fba125c9.c7b7a8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":140,"wires":[["e38f5eee.adb16","85a70740.b60518"]]},{"id":"8188547c.5691d8","type":"ui_text","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","group":"fb31d927.bbb488","order":2,"width":0,"height":0,"name":"","label":"Time Stamp","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":80,"wires":[]},{"id":"5e0d84f5.8c014c","type":"ui_text","z":"fba125c9.c7b7a8","g":"cc53b880.15f6b8","group":"62a36f42.7f6a2","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.FurTemp.toFixed(3)}} oC","layout":"row-spread","x":1900,"y":100,"wires":[]},{"id":"2443c8e7.777b28","type":"ui_text","z":"fba125c9.c7b7a8","g":"cc53b880.15f6b8","group":"62a36f42.7f6a2","order":2,"width":0,"height":0,"name":"","label":"Input Power","format":"{{msg.payload.ProcessData.FurInper.toFixed(3)}} %","layout":"row-spread","x":1870,"y":140,"wires":[]},{"id":"3d0c2cad.75d4e4","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.LphTemp.toFixed(3)}} oC","layout":"row-spread","x":2180,"y":100,"wires":[]},{"id":"2a393f2c.f55e2","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.LphPress.toFixed(3)}} bar","layout":"row-spread","x":2160,"y":140,"wires":[]},{"id":"6081ac68.3b3744","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.LphInpress.toFixed(3)}} bar","layout":"row-spread","x":2160,"y":220,"wires":[]},{"id":"5878004f.4ac65","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.ConTemp.toFixed(3)}} bar","layout":"row-spread","x":2170,"y":180,"wires":[]},{"id":"1a56651.fa19e9b","type":"ui_text","z":"fba125c9.c7b7a8","g":"acce86f6.5a7aa8","group":"35f2505f.671fd","order":5,"width":0,"height":0,"name":"","label":"Input Flow","format":"{{msg.payload.ProcessData.LphInflow.toFixed(3)}} bar","layout":"row-spread","x":2150,"y":260,"wires":[]},{"id":"57c1dc0d.560aa4","type":"ui_text","z":"fba125c9.c7b7a8","g":"dadcc4c7.90c888","group":"fcb8e0ac.da0c9","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.DeaTemp.toFixed(3)}} oC","layout":"row-spread","x":2500,"y":180,"wires":[]},{"id":"e7fa9c67.1375d","type":"ui_text","z":"fba125c9.c7b7a8","g":"dadcc4c7.90c888","group":"fcb8e0ac.da0c9","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.DeaPress.toFixed(3)}} bar","layout":"row-spread","x":2480,"y":220,"wires":[]},{"id":"a6ae696b.5f5658","type":"ui_text","z":"fba125c9.c7b7a8","g":"dadcc4c7.90c888","group":"fcb8e0ac.da0c9","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.LphPress.toFixed(3)}} bar","layout":"row-spread","x":2480,"y":300,"wires":[]},{"id":"fa1ec176.9a0b3","type":"ui_text","z":"fba125c9.c7b7a8","g":"dadcc4c7.90c888","group":"fcb8e0ac.da0c9","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.LphTemp.toFixed(3)}} bar","layout":"row-spread","x":2490,"y":260,"wires":[]},{"id":"ad6abee6.618","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.HphTemp.toFixed(3)}} oC","layout":"row-spread","x":2780,"y":280,"wires":[]},{"id":"cee1b131.f40c7","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.HphPress.toFixed(3)}} bar","layout":"row-spread","x":2760,"y":320,"wires":[]},{"id":"6580020c.b0f84c","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.HphInpress.toFixed(3)}} bar","layout":"row-spread","x":2760,"y":400,"wires":[]},{"id":"d4b288ff.d22a48","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.DeaTemp.toFixed(3)}} bar","layout":"row-spread","x":2770,"y":360,"wires":[]},{"id":"cc9906fb.8b1038","type":"ui_text","z":"fba125c9.c7b7a8","g":"37783fc2.6c3cb","group":"ea5c497f.3b1858","order":5,"width":0,"height":0,"name":"","label":"Input Flow","format":"{{msg.payload.ProcessData.HphInflow.toFixed(3)}} bar","layout":"row-spread","x":2750,"y":440,"wires":[]},{"id":"a65fea6c.12f968","type":"ui_text","z":"fba125c9.c7b7a8","g":"eb0ec43f.278538","group":"5a751afc.19d614","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.BoiTemp.toFixed(3)}} oC","layout":"row-spread","x":2580,"y":520,"wires":[]},{"id":"1f04a24.396125e","type":"ui_text","z":"fba125c9.c7b7a8","g":"eb0ec43f.278538","group":"5a751afc.19d614","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.BoiPress.toFixed(3)}} bar","layout":"row-spread","x":2560,"y":560,"wires":[]},{"id":"20da190f.cafb06","type":"ui_text","z":"fba125c9.c7b7a8","g":"eb0ec43f.278538","group":"5a751afc.19d614","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.HphPress.toFixed(3)}} bar","layout":"row-spread","x":2560,"y":640,"wires":[]},{"id":"64e76e8c.3573","type":"ui_text","z":"fba125c9.c7b7a8","g":"eb0ec43f.278538","group":"5a751afc.19d614","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.HphTemp.toFixed(3)}} bar","layout":"row-spread","x":2570,"y":600,"wires":[]},{"id":"93928c37.a08a5","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":1,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.ConTemp.toFixed(3)}} oC","layout":"row-spread","x":2360,"y":680,"wires":[]},{"id":"735ef26d.6619fc","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":2,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.TurLpress.toFixed(3)}} bar","layout":"row-spread","x":2340,"y":720,"wires":[]},{"id":"f5462a2b.1f01e8","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":3,"width":0,"height":0,"name":"","label":"Input Pressure","format":"{{msg.payload.ProcessData.TurLpress.toFixed(3)}} bar","layout":"row-spread","x":2340,"y":800,"wires":[]},{"id":"7d3c1bf6.cbc4e4","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":4,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.TurLtemp.toFixed(3)}} bar","layout":"row-spread","x":2350,"y":760,"wires":[]},{"id":"e983b54.04cf848","type":"ui_text","z":"fba125c9.c7b7a8","g":"971e7fa2.ba78b","group":"33fe3307.9b563c","order":5,"width":0,"height":0,"name":"","label":"Input Flow","format":"{{msg.payload.ProcessData.ConInflow.toFixed(3)}} bar","layout":"row-spread","x":2330,"y":840,"wires":[]},{"id":"8b8c5ab3.a280a8","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":2,"width":0,"height":0,"name":"","label":"Output Temperature","format":"{{msg.payload.ProcessData.TurLtemp.toFixed(3)}} oC","layout":"row-spread","x":2060,"y":880,"wires":[]},{"id":"32c6ce74.215d92","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":3,"width":0,"height":0,"name":"","label":"Output Pressure","format":"{{msg.payload.ProcessData.TurLpress.toFixed(3)}} bar","layout":"row-spread","x":2040,"y":920,"wires":[]},{"id":"41121dd2.00b354","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":1,"width":0,"height":0,"name":"","label":"Output Speed","format":"{{msg.payload.ProcessData.TurSpeed.toFixed(3)}} oC","layout":"row-spread","x":2040,"y":840,"wires":[]},{"id":"679c576d.3f2b28","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":4,"width":0,"height":0,"name":"","label":"IP Temperature","format":"{{msg.payload.ProcessData.TurItemp.toFixed(3)}} oC","layout":"row-spread","x":2040,"y":960,"wires":[]},{"id":"6d520efc.2867","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":5,"width":0,"height":0,"name":"","label":"IP Pressure","format":"{{msg.payload.ProcessData.TurIpress.toFixed(3)}} bar","layout":"row-spread","x":2030,"y":1000,"wires":[]},{"id":"5e07d8aa.3500a8","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":6,"width":0,"height":0,"name":"","label":"HP Temperature","format":"{{msg.payload.ProcessData.TurHtemp.toFixed(3)}} oC","layout":"row-spread","x":2040,"y":1040,"wires":[]},{"id":"c7d657e9.3f59a8","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":7,"width":0,"height":0,"name":"","label":"HP Pressure","format":"{{msg.payload.ProcessData.TurHpress.toFixed(3)}} bar","layout":"row-spread","x":2030,"y":1080,"wires":[]},{"id":"39d33340.cc0e7c","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":8,"width":0,"height":0,"name":"","label":"Input Temperature","format":"{{msg.payload.ProcessData.BoiTemp.toFixed(3)}} oC","layout":"row-spread","x":2050,"y":1120,"wires":[]},{"id":"c8707c6d.225f1","type":"ui_text","z":"fba125c9.c7b7a8","g":"f30cc0b4.232fb","group":"f1246a2a.0063b8","order":9,"width":0,"height":0,"name":"","label":"InputPressure","format":"{{msg.payload.ProcessData.BoiPress.toFixed(3)}} bar","layout":"row-spread","x":2040,"y":1160,"wires":[]},{"id":"f56cb9c5.30eaf8","type":"function","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"","func":"var dt = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nvar hour = \"0\" + dt.getHours();\nvar min = \"0\" + dt.getMinutes();\nvar sec = \"0\" + dt.getSeconds();\nvar day = dt.getDate();\nvar month = dt.getMonth() + 1;\nvar year = dt.getFullYear();\nmsg2 = msg;\nmsg2.payload = hour.substr(-2) + \":\" + min.substr(-2) + \":\" + sec.substr(-2) + \" \" + day + \"/\" + month + \"/\" + year;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":220,"wires":[["8188547c.5691d8"]]},{"id":"63286668.ccb6a8","type":"link in","z":"fba125c9.c7b7a8","g":"49bdb348.502aac","name":"tabProcessIn","links":["e38f5eee.adb16"],"x":1455,"y":520,"wires":[["f56cb9c5.30eaf8","5e0d84f5.8c014c","2443c8e7.777b28","3d0c2cad.75d4e4","2a393f2c.f55e2","5878004f.4ac65","6081ac68.3b3744","1a56651.fa19e9b","57c1dc0d.560aa4","e7fa9c67.1375d","fa1ec176.9a0b3","a6ae696b.5f5658","ad6abee6.618","cee1b131.f40c7","d4b288ff.d22a48","6580020c.b0f84c","cc9906fb.8b1038","a65fea6c.12f968","1f04a24.396125e","64e76e8c.3573","20da190f.cafb06","93928c37.a08a5","735ef26d.6619fc","7d3c1bf6.cbc4e4","f5462a2b.1f01e8","e983b54.04cf848","41121dd2.00b354","8b8c5ab3.a280a8","32c6ce74.215d92","679c576d.3f2b28","6d520efc.2867","5e07d8aa.3500a8","c7d657e9.3f59a8","39d33340.cc0e7c","c8707c6d.225f1"]]},{"id":"e38f5eee.adb16","type":"link out","z":"fba125c9.c7b7a8","name":"MqttOut","links":["63286668.ccb6a8","8245cd58.8b53"],"x":595,"y":140,"wires":[]},{"id":"6fa3645c.8be62c","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"15e6e67f.96ccfa","order":1,"width":0,"height":0,"label":"Furnace Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2660,"y":1440,"wires":[[]]},{"id":"8245cd58.8b53","type":"link in","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"tabTrendIn","links":["e38f5eee.adb16"],"x":2215,"y":1880,"wires":[["fd8ed304.8a13e","b85bb194.2fc3","6964874b.4eafb8","7eacf09d.b662b","12db5dd9.66d542","d3b61a29.618b58","cad08017.b07e4","70986cf0.166294","7d5976d1.0a7818","69e50b40.33ab54","8f17ccad.a086b","4f68f5ec.cf6b6c","38c439f2.3dfcf6","cb194ca4.d7552","1edc450e.f2d73b","120b6515.0d4a6b","531364c0.35722c","e9b6a951.735a18","9596d4aa.1fbc78","75c828e1.aadfa8","f885466f.efa2a8","788b2841.8381a8"]]},{"id":"fd8ed304.8a13e","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Furnace\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.FurTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1440,"wires":[["6fa3645c.8be62c"]]},{"id":"bffbcb73.77e1e8","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"b3c9fc37.19662","order":1,"width":0,"height":0,"label":"Vessel Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2650,"y":1520,"wires":[[]]},{"id":"b85bb194.2fc3","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"LP Heater\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.LphTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1520,"wires":[["bffbcb73.77e1e8"]]},{"id":"6964874b.4eafb8","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Deaerator\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.DeaTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1560,"wires":[["bffbcb73.77e1e8"]]},{"id":"7eacf09d.b662b","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"HP Heater\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.HphTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1600,"wires":[["bffbcb73.77e1e8"]]},{"id":"d5f784d9.c27798","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"b3c9fc37.19662","order":2,"width":0,"height":0,"label":"Vessel Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2640,"y":1680,"wires":[[]]},{"id":"12db5dd9.66d542","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"LP Heater\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.LphPress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1680,"wires":[["d5f784d9.c27798"]]},{"id":"d3b61a29.618b58","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Deaerator\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.DeaPress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1720,"wires":[["d5f784d9.c27798"]]},{"id":"cad08017.b07e4","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"HP Heater\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.HphPress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1760,"wires":[["d5f784d9.c27798"]]},{"id":"26bbf2fd.f8397e","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"b3c9fc37.19662","order":4,"width":0,"height":0,"label":"Pump Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2640,"y":1820,"wires":[[]]},{"id":"70986cf0.166294","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Condense Pump\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.LphInpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1820,"wires":[["26bbf2fd.f8397e"]]},{"id":"7d5976d1.0a7818","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Supply Pump\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.HphInpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1860,"wires":[["26bbf2fd.f8397e"]]},{"id":"31100972.fab8c6","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"b3c9fc37.19662","order":3,"width":0,"height":0,"label":"Pump Flow","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2630,"y":1920,"wires":[[]]},{"id":"69e50b40.33ab54","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Condense Pump\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.LphInflow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1920,"wires":[["31100972.fab8c6"]]},{"id":"788b2841.8381a8","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Supply Pump\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.HphInflow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1960,"wires":[["31100972.fab8c6"]]},{"id":"36700fe8.0a64e","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"37283e2a.af9ff2","order":1,"width":0,"height":0,"label":"Component Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2670,"y":2020,"wires":[[]]},{"id":"8f17ccad.a086b","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Boiler\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.BoiTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2020,"wires":[["36700fe8.0a64e"]]},{"id":"4f68f5ec.cf6b6c","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"HP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurHtemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2060,"wires":[["36700fe8.0a64e"]]},{"id":"38c439f2.3dfcf6","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"IP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurHtemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2100,"wires":[["36700fe8.0a64e"]]},{"id":"cb194ca4.d7552","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"LP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurLtemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2140,"wires":[["36700fe8.0a64e"]]},{"id":"86d8c6f0.bb3208","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"37283e2a.af9ff2","order":2,"width":0,"height":0,"label":"Component Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2660,"y":2200,"wires":[[]]},{"id":"1edc450e.f2d73b","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Boiler\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.BoiPress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2200,"wires":[["86d8c6f0.bb3208"]]},{"id":"120b6515.0d4a6b","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"HP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurHpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2240,"wires":[["86d8c6f0.bb3208"]]},{"id":"531364c0.35722c","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"IP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurIpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2280,"wires":[["86d8c6f0.bb3208"]]},{"id":"e9b6a951.735a18","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"LP Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurLpress;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2320,"wires":[["86d8c6f0.bb3208"]]},{"id":"f058fcdf.ffbde","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"37283e2a.af9ff2","order":3,"width":0,"height":0,"label":"Turbine Rotation Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2670,"y":2380,"wires":[[]]},{"id":"9596d4aa.1fbc78","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Turbine\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.TurSpeed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2380,"wires":[["f058fcdf.ffbde"]]},{"id":"38ce31cd.bbe2ae","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"a17f046a.f37218","order":1,"width":0,"height":0,"label":"Condenser Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#9467bd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2670,"y":2440,"wires":[[]]},{"id":"75c828e1.aadfa8","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Condenser\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.ConTemp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2440,"wires":[["38ce31cd.bbe2ae"]]},{"id":"735ec0e.8e4264","type":"ui_chart","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","group":"a17f046a.f37218","order":2,"width":0,"height":0,"label":"Condenser Flow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2640,"y":2480,"wires":[[]]},{"id":"f885466f.efa2a8","type":"function","z":"fba125c9.c7b7a8","g":"69024864.870ec8","name":"","func":"msg.topic = \"Condenser\";\nmsg.timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\nmsg.payload = msg.payload.ProcessData.ConInflow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2480,"wires":[["735ec0e.8e4264"]]},{"id":"970ef9d.4520208","type":"mongodb in","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","mongodb":"71120a34.5faec4","name":"","collection":"test","operation":"find","x":530,"y":760,"wires":[["937e572.25e2ba8"]]},{"id":"3d78d396.7ed65c","type":"function","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","func":"let start = flow.get(\"StartDate\") + flow.get(\"StartTime\");\nlet stop = flow.get(\"StopDate\") + flow.get(\"StopTime\");\nvar starttime = JSON.stringify(new Date(start)).replace('\"','').slice(0, -6);\nvar stoptime = JSON.stringify(new Date(stop)).replace('\"','').slice(0, -5);\n\nmsg.payload = {$and:[{\"Timestamp\": {$gte:starttime, \n                $lte:stoptime} }] };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":760,"wires":[["970ef9d.4520208"]]},{"id":"169b2897.4ac227","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"7dc65eaf.5a677","order":1,"width":0,"height":0,"label":"Furnace Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1980,"y":1440,"wires":[[]]},{"id":"380f9395.5a787c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.FurTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1440,"wires":[["bc646732.801f88"]]},{"id":"937e572.25e2ba8","type":"split","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":760,"wires":[["6fe6698e.fad728"]]},{"id":"bc646732.801f88","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1440,"wires":[["8c713266.c2379"]]},{"id":"8c713266.c2379","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Furnace\"],\n        \"data\": [msg.payload],\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1440,"wires":[["169b2897.4ac227"]]},{"id":"b22baf9e.55bdc","type":"link in","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","links":["6fe6698e.fad728","7d9cddcc.b11524"],"x":1135,"y":1840,"wires":[["380f9395.5a787c","6c13710a.e98f2","85d9b8.72f01648","4d202d38.21af24","49a73f14.4372c","9e9e01bd.a3125","3fe1d6fb.1ce1ea","d4198a74.ce1968","4a4bdc5b.fefb64","18bd9645.a4eb0a","9446b234.4121e","7f80343e.6802ac","6d02d39.d9ea82c","7502b4d9.8901ac","6096acf5.1fc704","77e768be.75c048","249da433.cad99c","daeff329.6cfd4","c6272ed2.52a79","5ef6d233.3afeac","6a30783c.232438","48b7c572.af134c"]]},{"id":"6fe6698e.fad728","type":"link out","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"DbOut","links":["b22baf9e.55bdc"],"x":815,"y":760,"wires":[]},{"id":"88123510.ee5078","type":"ui_date_picker","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"start","label":"","group":"bd49e8bd.1b38d8","order":2,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":190,"y":560,"wires":[["bb17110a.95252"]]},{"id":"4c473c26.78bdb4","type":"ui_text_input","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","label":"Start time","tooltip":"Enter the start time for the Trend","group":"bd49e8bd.1b38d8","order":1,"width":6,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":200,"y":520,"wires":[["e17b0f79.2a696"]]},{"id":"5d57a2c3.b7537c","type":"ui_date_picker","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"stop","label":"","group":"bd49e8bd.1b38d8","order":4,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":190,"y":660,"wires":[["ec9fb92b.543ac8"]]},{"id":"8a6dd747.cddb38","type":"ui_text_input","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","label":"Stop time","tooltip":"Enter the stop time for the Trend","group":"bd49e8bd.1b38d8","order":3,"width":6,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":200,"y":620,"wires":[["be21a312.79366"]]},{"id":"e17b0f79.2a696","type":"change","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","rules":[{"t":"set","p":"StartTime","pt":"flow","to":"msg.payload - 25200000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[[]]},{"id":"bb17110a.95252","type":"change","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","rules":[{"t":"set","p":"StartDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":560,"wires":[[]]},{"id":"be21a312.79366","type":"change","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","rules":[{"t":"set","p":"StopTime","pt":"flow","to":"msg.payload - 25200000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":620,"wires":[[]]},{"id":"ec9fb92b.543ac8","type":"change","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","rules":[{"t":"set","p":"StopDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[[]]},{"id":"87f83094.5f151","type":"inject","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":440,"wires":[["3c0e29ee.6a3d16"]]},{"id":"3c0e29ee.6a3d16","type":"function","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","func":"flow.set(\"StartDate\", msg.payload);\nflow.set(\"StopDate\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":440,"wires":[[]]},{"id":"cb314931.721708","type":"ui_button","z":"fba125c9.c7b7a8","g":"752c8b6a.bb1a34","name":"","group":"bd49e8bd.1b38d8","order":6,"width":6,"height":1,"passthru":false,"label":"Set","tooltip":"Set the time range for Trend","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":760,"wires":[["3d78d396.7ed65c"]]},{"id":"7e1f119a.b6938","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"6a1a44e5.5b1cbc","order":1,"width":0,"height":0,"label":"Vessel Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1970,"y":1560,"wires":[[]]},{"id":"11790ab3.07f3a5","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"6a1a44e5.5b1cbc","order":2,"width":0,"height":0,"label":"Vessel Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1960,"y":1700,"wires":[[]]},{"id":"ed728504.3be0a8","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"6a1a44e5.5b1cbc","order":4,"width":0,"height":0,"label":"Pump Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1960,"y":1840,"wires":[[]]},{"id":"986a1cc9.2b706","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"6a1a44e5.5b1cbc","order":3,"width":0,"height":0,"label":"Pump Flow","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1950,"y":1940,"wires":[[]]},{"id":"b37e7d8d.1a3f5","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"1fb9445.b605abc","order":1,"width":0,"height":0,"label":"Component Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1990,"y":2040,"wires":[[]]},{"id":"ac1b044.a0c78f8","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"1fb9445.b605abc","order":2,"width":0,"height":0,"label":"Component Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1980,"y":2220,"wires":[[]]},{"id":"52c679d7.a10b08","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"1fb9445.b605abc","order":3,"width":0,"height":0,"label":"Turbine Rotation Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1990,"y":2380,"wires":[[]]},{"id":"75d3265c.33b488","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"f53ea45d.2bbb98","order":1,"width":0,"height":0,"label":"Condenser Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#9467bd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1990,"y":2440,"wires":[[]]},{"id":"9056056e.f63cd8","type":"ui_chart","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","group":"f53ea45d.2bbb98","order":2,"width":0,"height":0,"label":"Condenser Flow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1960,"y":2480,"wires":[[]]},{"id":"6c13710a.e98f2","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.LphTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1520,"wires":[["217075e.3d39f8a"]]},{"id":"217075e.3d39f8a","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1520,"wires":[["b0559249.17184"]]},{"id":"eeb54d01.73635","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"LP Heater\", \"Deaerator\", \"HP Heater\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1560,"wires":[["7e1f119a.b6938"]]},{"id":"85d9b8.72f01648","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.DeaTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1560,"wires":[["d612f851.6db5b8"]]},{"id":"d612f851.6db5b8","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1560,"wires":[["b0559249.17184"]]},{"id":"4d202d38.21af24","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.HphTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1600,"wires":[["4071a5b7.46090c"]]},{"id":"4071a5b7.46090c","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1600,"wires":[["b0559249.17184"]]},{"id":"b0559249.17184","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1630,"y":1560,"wires":[["eeb54d01.73635"]]},{"id":"49a73f14.4372c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.LphPress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1660,"wires":[["fbe831b4.fb8df"]]},{"id":"fbe831b4.fb8df","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1660,"wires":[["8fce3c7e.70f5f"]]},{"id":"bbd6c813.776888","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"LP Heater\", \"Deaerator\", \"HP Heater\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1700,"wires":[["11790ab3.07f3a5"]]},{"id":"9e9e01bd.a3125","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.DeaPress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1700,"wires":[["dc5197f2.564818"]]},{"id":"dc5197f2.564818","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1700,"wires":[["8fce3c7e.70f5f"]]},{"id":"3fe1d6fb.1ce1ea","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.HphPress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1740,"wires":[["8f2fd0d9.b0903"]]},{"id":"8f2fd0d9.b0903","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1740,"wires":[["8fce3c7e.70f5f"]]},{"id":"8fce3c7e.70f5f","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1630,"y":1700,"wires":[["bbd6c813.776888"]]},{"id":"d4198a74.ce1968","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.LphInpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1800,"wires":[["95795f53.e8789"]]},{"id":"95795f53.e8789","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1800,"wires":[["abc4aabf.eed198"]]},{"id":"f2961367.fb379","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Condense Pump\", \"Supply Pump\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1840,"wires":[["ed728504.3be0a8"]]},{"id":"4a4bdc5b.fefb64","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.HphInpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1840,"wires":[["7a07bd86.3a55c4"]]},{"id":"7a07bd86.3a55c4","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1840,"wires":[["abc4aabf.eed198"]]},{"id":"abc4aabf.eed198","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1630,"y":1840,"wires":[["f2961367.fb379"]]},{"id":"18bd9645.a4eb0a","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.LphInflow;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1900,"wires":[["98ca4584.e2b068"]]},{"id":"98ca4584.e2b068","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1900,"wires":[["c9fecfcd.47056"]]},{"id":"1566052b.0dc7db","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Condense Pump\", \"Supply Pump\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1940,"wires":[["986a1cc9.2b706"]]},{"id":"9446b234.4121e","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.HphInflow;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1940,"wires":[["bb30e874.650ec8"]]},{"id":"bb30e874.650ec8","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":1940,"wires":[["c9fecfcd.47056"]]},{"id":"c9fecfcd.47056","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1630,"y":1940,"wires":[["1566052b.0dc7db"]]},{"id":"7f80343e.6802ac","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.BoiTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2000,"wires":[["2c5e3cd4.efec64"]]},{"id":"2c5e3cd4.efec64","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2000,"wires":[["d8abb927.874758"]]},{"id":"b6fe01ca.89438","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Boiler\", \"HP Turbine\", \"IP Turbine\", \"LP Turbine\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2040,"wires":[["b37e7d8d.1a3f5"]]},{"id":"6d02d39.d9ea82c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurHtemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2040,"wires":[["5a24b5d4.bb5dac"]]},{"id":"5a24b5d4.bb5dac","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2040,"wires":[["d8abb927.874758"]]},{"id":"d8abb927.874758","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1630,"y":2040,"wires":[["b6fe01ca.89438"]]},{"id":"7502b4d9.8901ac","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurItemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2080,"wires":[["6fd43b85.8aed24"]]},{"id":"6fd43b85.8aed24","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2080,"wires":[["d8abb927.874758"]]},{"id":"6096acf5.1fc704","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurLtemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2120,"wires":[["b3283979.222b28"]]},{"id":"b3283979.222b28","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2120,"wires":[["d8abb927.874758"]]},{"id":"77e768be.75c048","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.BoiPress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2180,"wires":[["5702f3ed.24704c"]]},{"id":"5702f3ed.24704c","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2180,"wires":[["273f40d6.7c014"]]},{"id":"6ae8f294.b00a4c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Boiler\", \"HP Turbine\", \"IP Turbine\", \"LP Turbine\"],\n        \"data\": msg.payload,\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2220,"wires":[["ac1b044.a0c78f8"]]},{"id":"249da433.cad99c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurHpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2220,"wires":[["6973624e.a2b44c"]]},{"id":"6973624e.a2b44c","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2220,"wires":[["273f40d6.7c014"]]},{"id":"273f40d6.7c014","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1630,"y":2220,"wires":[["6ae8f294.b00a4c"]]},{"id":"daeff329.6cfd4","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurIpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2260,"wires":[["75c4ed10.b27b74"]]},{"id":"75c4ed10.b27b74","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2260,"wires":[["273f40d6.7c014"]]},{"id":"c6272ed2.52a79","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurLpress;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2300,"wires":[["b9a93814.db9ae8"]]},{"id":"b9a93814.db9ae8","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2300,"wires":[["273f40d6.7c014"]]},{"id":"5ef6d233.3afeac","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.TurSpeed;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2380,"wires":[["259797dd.24a058"]]},{"id":"259797dd.24a058","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1490,"y":2380,"wires":[["52617e52.adaa8"]]},{"id":"52617e52.adaa8","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Turbine\"],\n        \"data\": [msg.payload],\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2380,"wires":[["52c679d7.a10b08"]]},{"id":"6a30783c.232438","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.ConTemp;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2440,"wires":[["c83cafe1.132ec"]]},{"id":"c83cafe1.132ec","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":2440,"wires":[["3870f735.c072b8"]]},{"id":"3870f735.c072b8","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Condenser\"],\n        \"data\": [msg.payload],\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2440,"wires":[["75d3265c.33b488"]]},{"id":"48b7c572.af134c","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"timestamp = new Date(msg.payload.Timestamp.toString() + \"+00:00\");\ndata = msg.payload.ProcessData.ConInflow;\nmsg.payload = {\"x\":timestamp, \"y\":data};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2480,"wires":[["826eabe5.d0d4f8"]]},{"id":"826eabe5.d0d4f8","type":"join","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":2480,"wires":[["a19eecd6.ee2f2"]]},{"id":"a19eecd6.ee2f2","type":"function","z":"fba125c9.c7b7a8","g":"11ba48b.1e3a8b7","name":"","func":"msg.payload = \n    [{\n        \"series\":[\"Condenser\"],\n        \"data\": [msg.payload],\n        \"labels\": [\"\"]\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2480,"wires":[["9056056e.f63cd8"]]},{"id":"42063ae.aac45c4","type":"csv","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\r\\n","temp":"Timestamp, ProcessData","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":770,"y":1120,"wires":[["8be2509b.83c0d"]]},{"id":"6ab9fea5.da1bb","type":"mongodb in","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","mongodb":"71120a34.5faec4","name":"","collection":"test","operation":"find","x":590,"y":1200,"wires":[["1b20dc32.c72ff4"]]},{"id":"fda640f2.fda7d","type":"function","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","func":"let start = flow.get(\"StartDate2\") + flow.get(\"StartTime2\");\nlet stop = flow.get(\"StopDate2\") + flow.get(\"StopTime2\");\nvar starttime = JSON.stringify(new Date(start)).replace('\"','').slice(0, -6);\nvar stoptime = JSON.stringify(new Date(stop)).replace('\"','').slice(0, -5);\n\nmsg.payload = {$and:[{\"Timestamp\": {$gte:starttime, \n                $lte:stoptime} }] };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1200,"wires":[["6ab9fea5.da1bb"]]},{"id":"815a5d36.54af5","type":"ui_date_picker","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"start","label":"","group":"dabdd43.caf0828","order":2,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":190,"y":1020,"wires":[["fb3e8611.7e10c8"]]},{"id":"c68ac674.d1e6c8","type":"ui_text_input","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","label":"Start time","tooltip":"Enter the start time for the Trend","group":"dabdd43.caf0828","order":1,"width":6,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":200,"y":980,"wires":[["e604f900.d39d08"]]},{"id":"73deba68.a82724","type":"ui_date_picker","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"stop","label":"","group":"dabdd43.caf0828","order":4,"width":6,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":190,"y":1120,"wires":[["514fbc3c.98fe54"]]},{"id":"1586a142.8f892f","type":"ui_text_input","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","label":"Stop time","tooltip":"Enter the stop time for the Trend","group":"dabdd43.caf0828","order":3,"width":6,"height":1,"passthru":true,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":200,"y":1080,"wires":[["b7843b55.c51188"]]},{"id":"e604f900.d39d08","type":"change","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","rules":[{"t":"set","p":"StartTime2","pt":"flow","to":"msg.payload - 25200000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":980,"wires":[[]]},{"id":"fb3e8611.7e10c8","type":"change","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","rules":[{"t":"set","p":"StartDate2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1020,"wires":[[]]},{"id":"b7843b55.c51188","type":"change","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","rules":[{"t":"set","p":"StopTime2","pt":"flow","to":"msg.payload - 25200000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1080,"wires":[[]]},{"id":"514fbc3c.98fe54","type":"change","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","rules":[{"t":"set","p":"StopDate2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1120,"wires":[[]]},{"id":"3909a9c0.4bb196","type":"inject","z":"fba125c9.c7b7a8","d":true,"g":"ee625b2c.c3b8f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":900,"wires":[["5755447e.cf765c"]]},{"id":"5755447e.cf765c","type":"function","z":"fba125c9.c7b7a8","d":true,"g":"ee625b2c.c3b8f8","name":"","func":"flow.set(\"StartDate2\", msg.payload);\nflow.set(\"StopDate2\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":900,"wires":[[]]},{"id":"2c28b485.bcb43c","type":"ui_button","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","group":"dabdd43.caf0828","order":6,"width":4,"height":1,"passthru":false,"label":"Choose Range","tooltip":"Choose time range to export data","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":1200,"wires":[["fda640f2.fda7d"]]},{"id":"b53a6daa.99195","type":"function","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","func":"delete msg.payload.ComponentStatus;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1200,"wires":[["bb45568.6fa4ba8"]]},{"id":"1b20dc32.c72ff4","type":"split","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":1200,"wires":[["b53a6daa.99195"]]},{"id":"bb45568.6fa4ba8","type":"join","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1120,"wires":[["42063ae.aac45c4"]]},{"id":"8be2509b.83c0d","type":"file","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","name":"","filename":"C:\\nrpub\\a.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":940,"y":1120,"wires":[[]]},{"id":"a8c2985e.d23ad8","type":"ui_template","z":"fba125c9.c7b7a8","g":"ee625b2c.c3b8f8","group":"eebc7528.5ac558","name":"Export button","order":1,"width":0,"height":0,"format":"<div style=\"display:flex; justify-content: center; \">\n    <button id=\"meo\" onclick=\"location.href='http://localhost:1880/files/a.csv'\" type=\"button\"\n            style=\"width:100%; background:#3700b3; color:#ffffff; border:none; height:40px;\">\n         EXPORT CSV</button>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":900,"wires":[[]]}]